{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>3Lines Venture Capital</title>
      <!-- Bootstrap core CSS -->
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom fonts for this template -->
      <link href="vendor/font-awesome/css/all.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" media="print">
      <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css' media="print">
      <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css' media="print">
      <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css' media="print">
      <!-- date picker end  -->
      <!-- Custom styles for this template -->
      <link href="css/agency.min.css" rel="stylesheet">
      <!-- Favicon.ico -->
      <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
      <link rel="manifest" href="img/favicon/site.webmanifest">
      <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
      <meta name="msapplication-TileColor" content="#00a300">
      <meta name="theme-color" content="#ffffff">
      <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback3&render=explicit" async defer></script>
    </script>
   </head>
   <body id="page-top">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
         <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/#page-top"><img src="img/logo.png" alt="3Lines"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#team">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/appl">Startups</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/login">Investors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/executives">ExecutiveAffiliates<!---LinkedIn Handle --></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#blog">News&Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#contact">Contact</a>
                    </li>
                </ul>
            </div>
         </div>
      </nav>
         <section id="contact">
            <div class="container">
            <div class="row">
               <div class="col-lg-12 text-center">
                  <h2 class="section-heading">3Lines is Expanding Executive Affiliate Network. Please Register Here <br>
                  </h2>
                  <div class="intro-lead-in text-primary text-center"></div>
               </div>
               
               <div class="intro-lead-in"></div>
               <div class="intro-lead-in"></div>
            </div>
            <div class="row">
            </div>
      <div class="row">
      <div class="col-lg-12">
      <div class="row">
        <div class="col-md-6">
                <p style="color:White;">
               We are a growth VC with PE rigor and have built a portfolio of AI powered software companies in the Future Of Work, Enterprise and Industry with $1-$10M in revenue. 3Lines needs C-Level executives with interest in early stage companies to be a member of our Mind Network. When and as needed we will draw upon your expertise to help our portfolio companies in their growth phase. </p>
               
              
      </div>
      <div class="col-md-6">
       {{if .SuccessMessage }}
      <div class="alert alert-success" id="successSubmit"><strong>{{.SuccessMessage}}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
      </div>
      {{ end }}
      <form id="executiveForm" class="form-signup-login" method="post" action="/addExecutive">
      <div class="form-group">
      <input class="form-control" id="Name" name="Name" type="text" placeholder="Name *" required data-validation-required-message="Please enter your full name.">
      <p class="help-block text-danger"></p>
      </div>
      <div class="form-group">
      <input class="form-control" id="Email" name="Email" type="email" placeholder="Your Email *" required data-validation-required-message="Please enter your email address.">
      <p class="help-block text-danger"></p>
      </div>
      <div class="form-group">
      <input class="form-control" id="SocialMediaHandle" name="SocialMediaHandle" type="text" placeholder="Linkedin/Twitter Profile URL *" data-validation-required-message="Please enter your LinkedIn Profile URL.">
      <p class="help-block text-danger"></p>
      </div>
      <div id="g-recaptcha3"class="g-recaptcha"></div>
      <div id="successExecutive"></div>
      <button id="sendExecutiveButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Submit</button>
      </div>
      </form>
      </div>
      </div>
      </section>
      <!-- Bootstrap core JavaScript -->
      <script src="vendor/jquery/jquery.min.js"></script>
<!--       <script src="vendor/bootstrap/js/popper.min.js"></script> -->
      <script src="vendor/bootstrap/js/bootstrap.bundle.js"></script>
      <!-- Plugin JavaScript -->
      <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
      <!-- Contact form JavaScript -->
      <script src="js/jqBootstrapValidation.js"></script>
      <!-- Custom scripts for this template -->
      <script src="js/agency.min.js"></script>
      <script src="js/executive.js"></script>
      <!-- date picker start  -->
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-77741671-1"></script>
      <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());

         gtag('config', 'UA-77741671-1');
      </script>
      <script>
      function ClearForm(){
      document.executiveForm.reset();
      }
   </script>
   </body>
</html>
{{end}}
