{{define "content"}}

<!-- DATA TABLE-->
<section class="p-t-20">
      <div class="row">
         <div class="col-md-12">
            {{if .Table}}
            <div class="table-responsive table-responsive-data2 table-hover">
               <table class="table table-data2">
                  <thead>
                     <tr>
                        <th>Company Name</th>
                        <th>Total Raised</th>
                        <th colspan="2" style="text-align: center">Revenue</th>
                        <th colspan="2" style="text-align: center">EBIDTA</th>
                        <th colspan="2" style="text-align: center">Revenue To Capital Ratio</th>
                     </tr>
                     <tr>
                        <th colspan="2"></th>
                        <th>Last Year</th>
                        <th>Current</br>Year To Date</th>
                        <th>Last Year</th>
                        <th>Current</br>Year To Date</th>
                        <th>Last Year</th>
                        <th>Current</br>Year To Date</th>
                     </tr>
                  </thead>
                  <tbody>
                     {{range .Table }}
                      <tr id="{{.ID}}" class="tr-shadow">
                        <td>{{.StartupName}}</td>
                        <td class="desc">{{.TotalCapitalRaised | currencyFormat }}M</td>
                        {{if .IsLastYearRevenueNegative}}
                        <td><p class="text-danger">{{.LastYearRevenue | currencyFormat}}M</p> </td>
                        {{else}}
                        <td><p class="text-success">{{.LastYearRevenue | currencyFormat}}M</p></td>
                        {{end}}
                        {{if .IsForecastedRevenueNegative}}
                        <td><p class="text-danger">{{.ForecastedRevenue | currencyFormat}}M</p></td>
                        {{else}}
                        <td><p class="text-success">{{.ForecastedRevenue | currencyFormat}}M</p></td>
                        {{end}}
                        {{if .IsLastYearEBIDTANegative}}
                        <td><p class="text-danger">{{.LastYearEBIDTA | currencyFormat}}M</p> </td>
                        {{else}}
                        <td><p class="text-success">{{.LastYearEBIDTA | currencyFormat}}M</p> </td>
                        {{end}}
                        {{if .IsForecastedEBIDTANegative}}
                        <td><p class="text-danger">{{.ForecastedEBIDTA | currencyFormat}}M</p> </td>
                        {{else}}
                        <td><p class="text-success">{{.ForecastedEBIDTA | currencyFormat}}M</p></td>
                        {{end}}
                        {{if .IsLastYearRevenueToCapitalNegative}}
                        <td><p class="text-danger">{{.LastYearRevenueToCapital }}%</p></td>
                        {{else}}
                        <td><p class="text-success">{{.LastYearRevenueToCapital }}% </p></td>
                        {{end}}
                        {{if .IsForecastedRevenueToCapitalNegative}}
                        <td><p class="text-danger">{{.ForecastedRevenueToCapital }}% </p></td>
                        {{else}}
                        <td><p class="text-success">{{.ForecastedRevenueToCapital }}%</p> </td>
                        {{end}}
                     </tr>
                     <tr class="spacer"></tr>
                     {{end}}
                  </tbody>
               </table>
            </div>
            {{end}}
         </div>
      </div>
   </div>
</section>
{{end}}