{{define "content"}}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>3Lines Venture Capital</title>
      <!-- Bootstrap core CSS -->
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom fonts for this template -->
      <link href="vendor/font-awesome/css/all.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" media="print">
      <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css' media="print">
      <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css' media="print">
      <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css' media="print">
      <!-- date picker end  -->
      <!-- Custom styles for this template -->
      <link href="css/agency.min.css" rel="stylesheet">
      <!-- Favicon.ico -->
      <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
      <link rel="manifest" href="img/favicon/site.webmanifest">
      <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
      <meta name="msapplication-TileColor" content="#00a300">
      <meta name="theme-color" content="#ffffff">
   </head>
   <body id="page-top">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
         <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="img/logo.png" alt="3Lines"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav text-uppercase ml-auto">
                  <!-- <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                     </li> -->
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="/#about">About</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="/#portfolio">Portfolio</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="appl">Apply</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="/#team">Team</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="/#blog">News & Blogs</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="/login">Investors</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="http://www.mentorbaba.co" target="_blank">mentorBaba</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="/#contact">Contact</a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
      <form id="applicationForm" name="sentForm" method="post" action="/application">
         <section id="contact">
            <div class="container">
            <div class="row">
               <div class="col-lg-12 text-center">
                  <h2 class="section-heading text-uppercase">Application for Funding</h2>
               </div>
               <div class="col-md-12 text-center">
                  <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-dollar-sign fa-stack-1x fa-inverse"></i>
                    </span>
                  <h4 style="color:White;">Artificial Intelligence, Internet of Things, Cyber Security, Distributed Ledger Technologies, Cloud Edge, Enterprise Software and SaaS Startups Apply Here. Seed through Series B Startups in the USA and India are eligible for investment of up to <h1 class="text-primary">$3 Million</h1> USD</h6>
                  <h4 style="color:White;"></h4>
               </div>
               
               <div class="intro-lead-in text-primary"></div>
               <div class="intro-lead-in"></div>
               <div class="intro-lead-in"></div>
            </div>
            <div class="row">
               
               <!-- <div class="col-md-6 text-center">
                  <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-handshake fa-stack-1x fa-inverse"></i>
                    </span>
                  <h4 style="color:White;">Qualified Pre-Seed India Startups will be assigned a mentor on mentorBaba platform and will receive additional financial support.</h4>
               </div> -->
            </div>
            <!-- <div class="row">
               <div class="col-md-6 text-center">
                  <h4 class="service-heading">
                     <h6 style="color:White;">
                        <p>Day 1 (All Locations) : Pitch Competition</p>
                     </h6>
                  </h4>
                  <h6 style="color:White;">Morning </h6>
                  <p class="text-primary">
                  Pre-Seed and Seed - Startups</br> Pitch Session :
                  9am - 12pm, 10 Startups </br>
                  Pitch Duration: 15 minutes</br>
                  </p>
                  <h6 style="color:White;">Afternoon </h6>
                  <p class="text-primary">
                  Seed+ ,  Series-A, and Series-B Startups </br>
                  Pitch Session :  1:15PM - 4:15PM, 8 Startups </br>
                  Pitch Duration: 20 minutes</br>
                  </p>
               </div>
               <div class="col-md-6 text-center">
                  <h4 class="service-heading">
                     <h6 style="color:White;">
                        <p>Day 2 - Workshop by 3Lines General Partners</p>
                     </h6>
                  </h4>
                  <h6 style="color:White;">Morning </h6>
                  <p class="text-primary">
                  Pre-Seed and Seed - Startups</br> Venture Capital Awareness :
                  9am - 12pm</br>
                  Topics : Valuations, and Team Building</p>
                  <h6 style="color:White;">Afternoon </h6>
                  <p class="text-primary">
                  Seed+ and Series-A, Series-B Startups </br>
                  Due Diligence Session :  1:15PM - 4:15PM</br></p>
                  </p>
                  <h6 style="color:White;">Evening</h6>
                  <p class="text-primary">Awards and Networking Event with Special Guests</p>
               </div>
            </div> -->
      <form id="applicationForm" name="sentForm" method="post" action="/application">
      <div class="row">
      <div class="col-md-12">
      <div class="form-group" id="Program">
      <h6 style="color:White;">We will be in your city to meet you. Choose a location nearest to you.</h6>
      </label>
      <div class="form-select form-select-inline">
      <select id="Program" name="Program">
      <!-- <option value="Bangalore, India">Bangalore: Dec 2nd – Dec 3rd (Monday-Tuesday)</option> -->
      <option value="Denver, US">Denver: Jan 18th (Saturday)</option>
      <option value="NewYork, US">New York : Jan 25th (Saturday)</option>
      <option value="SanFrancisco, US">San Francisco: Feb 1st (Saturday)</option>
      <option value="Web">Online Anywhere (USA/India)</option>
      </select>
      </div>
      </div>
      </div>
      </div>
      <div class="row">
      <div class="col-lg-12">
      <div class="row">
      <div class="col-md-6">
      <div class="form-group">
      <input class="form-control" id="FirstName" type="text" placeholder="First Name *" required data-validation-required-message="Please enter your first name.">
      <p class="help-block text-danger"></p>
      </div>
      <div class="form-group">
      <input class="form-control" id="LastName" type="text" placeholder="Last Name *" required data-validation-required-message="Please enter your last name.">
      <p class="help-block text-danger"></p>
      </div>
      <div class="form-group">
      <input class="form-control" id="Email" type="email" placeholder="Your Email *" required data-validation-required-message="Please enter your email address.">
      <p class="help-block text-danger"></p>
      </div>
      <div class="form-group">
      <input class="form-control" id="Phone" type="tel" pattern='^(\d{10}|\d{11}|\d{12})$' placeholder="Maximum 12 Digits.  No + or - format" required data-validation-required-message="Maximum 12 Digits in a Phone Number including Country Code. No (+) or (-) Sign Reqired for International.">
      <p class="help-block text-danger"></p>
      </div>
      <div class="form-group">
      <input class="form-control" id="CompanyName" type="text" placeholder="Company Legal Name *" required data-validation-required-message="Please enter your company name.">
      <p class="help-block text-danger"></p>
      </div>
      <div class="form-group">
      <textarea class="form-control" id="ElevatorPitch" placeholder="Elevator pitch in 30 words or less *" required data-validation-required-message="Please enter Elevator pitch in 30 words or less."></textarea>
      <p class="help-block text-danger"></p>
      </div>
      </div>
      <div class="col-md-6">
      <div class="form-group">
      <input class="form-control" type="text" pattern="https?://.+" id="Website" placeholder="Website * https://example.com" required data-validation-required-message="Please enter your website link.">
      <p class="help-block text-danger"></p>
      </div>
      <div class="form-group">
      <input class="form-control" id="Referrer" type="text" placeholder="Who Referred You? *" required data-validation-required-message="Please enter the referrer's name.">
      <p class="help-block text-danger"></p>
      </div>
      <div class="form-group">
      <input id="CapitalRaised" type="number" min="0.00" step="0.01" class="form-control" placeholder="Capital Raised in USD"  required autofocus>
      </div>
      <div class="form-group" id="Revenue">
      <div class="row">
      <h6 style="color:White;">Revenue Status:</h6>
      </div>
      <div class="form-check form-check-inline">
      <label class="form-check-label text-white" for="inlineRadio4">
      <input class="form-check-input2" type="radio" name="inlineRadioOptions1" id="inlineRadio4" value="Pre-Revenue" required>
      Pre Revenue</label>
      </div>
      <div class="form-check form-check-inline">
      <label class="form-check-label text-white" for="inlineRadio5">
      <input class="form-check-input2" type="radio" name="inlineRadioOptions1" id="inlineRadio5" value="Revenue Positive">
      Revenue Positive
      </label>
      </div>
      <div class="form-check form-check-inline">
      <label class="form-check-label text-white" for="inlineRadio6">
      <input class="form-check-input2" type="radio" name="inlineRadioOptions1" id="inlineRadio6" value="Profitable">
      Profitable
      </label>
      </div>
      </div>
      <div class="form-group" id="Industries">
      <div class="row">
      <h6 style="color:White;">Please check the industries most closely related to your company:</h6>
      </div>
      <div class="form-check form-check-inline">
      <label class="form-check-label text-white" for="check1">
      <input type="checkbox" class="form-check-input" id="check1" name="option1" value="ArtificialIntelligence">Artificial Intelligence
      </label>
      </div>
      <div class="form-check form-check-inline">
      <label class="form-check-label text-white" for="check2">
      <input type="checkbox" class="form-check-input" id="check2" name="option2" value="SaaS">SaaS
      </label>
      </div>
      <div class="form-check form-check-inline">
      <label class="form-check-label text-white" for="check3">
      <input type="checkbox" class="form-check-input" id="check3" name="option3" value="Healthcare">Healthcare
      </label>
      </div>
      <div class="form-check form-check-inline">
      <label class="form-check-label text-white" for="check4">
      <input type="checkbox" class="form-check-input" id="check4" name="option4" value="CyberSecurity">Cyber Security
      </label>
      </div>
      <div class="form-check form-check-inline">
      <label class="form-check-label text-white" for="check5">
      <input type="checkbox" class="form-check-input" id="check5" name="option5" value="InternetofThings">Internet of Things
      </label>
      </div>
      <div class="form-check form-check-inline">
      <label class="form-check-label text-white" for="check6">
      <input type="checkbox" class="form-check-input" id="check6" name="option6" value="Enterprise">Enterprise Software
      </label>
      </div>
      <div class="form-check form-check-inline">
      <label class="form-check-label text-white" for="check7">
      <input type="checkbox" class="form-check-input" id="check7" name="option7" value="Mobility">Mobility
      </label>
      </div>
      <div class="form-check form-check-inline">
      <label class="form-check-label text-white" for="check8">
      <input type="checkbox" class="form-check-input" id="check8" name="option8" value="FinTech">FinTech
      </label>
      </div>
      <div class="form-check form-check-inline">
      <label class="form-check-label text-white" for="check9">
      <input type="checkbox" class="form-check-input" id="check9" name="option9" value="Agriculture">Agriculture
      </label>
      </div>
      <div class="form-check form-check-inline">
      <label class="form-check-label text-white" for="check10">
      <input type="checkbox" class="form-check-input" id="check10" name="option10" value="Logistics">Supply Chain Logistics
      </label>
      </div>
      <div class="form-check form-check-inline">
      <label class="form-check-label text-white" for="check11">
      <input type="checkbox" class="form-check-input" id="check11" name="option11" value="Other">Other
      </label>
      </div>
      <div class="clearfix"></div>
      <div class="form-group">
      <textarea class="form-control" id="Comments" placeholder="Brief Summary of Funding Needs *"></textarea>
      <p class="help-block text-danger"></p>
      </div>
      </div>
      <div class="clearfix"></div>
      <div class="clearfix"></div>
      <div id="successApplication"></div>
      <button id="sendApplicationButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Submit Application</button>
      </div>
      </form>
      </div>
      </div>
      </div>
      </section>
      <!-- Footer -->
      <footer>
         <div class="container">
            <div class="row">
               <div class="col-md-4">
                  <span class="copyright">Copyright &copy; 3Lines 2019</span>
               </div>
               <div class="col-md-4">
                  <ul class="list-inline social-buttons">
                     <li class="list-inline-item">
                        <a href="http://twitter.com/threelinesus">
                        <i class="fab fa-twitter"></i>
                        </a>
                     </li>
                     <li class="list-inline-item">
                        <a href="http://facebook.com/threelinesus">
                        <i class="fas fa-facebook"></i>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </footer>
      <!-- Bootstrap core JavaScript -->
      <script src="vendor/jquery/jquery.min.js"></script>
<!--       <script src="vendor/bootstrap/js/popper.min.js"></script> -->
      <script src="vendor/bootstrap/js/bootstrap.bundle.js"></script>
      <!-- Plugin JavaScript -->
      <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
      <!-- Contact form JavaScript -->
      <script src="js/jqBootstrapValidation.js"></script>
      <script src="js/contact_me.js"></script>
      <!-- Custom scripts for this template -->
      <script src="js/agency.min.js"></script>
      <script src="js/appl.js"></script>
      <!-- date picker start  -->
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-77741671-1"></script>
      <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());

         gtag('config', 'UA-77741671-1');
      </script>
   </body>
</html>
{{end}}
