{{define "content"}}
<div class="container">
  <a class="btn btn-primary my-2" href="/notifications"><i class="fa fa-bell"></i>Back To Notifications</a>
   <div class="text-center">
      <h2 class="text-center">News</h2>
      <p>{{.News.Title}}</p>
   </div>
  <div class="text-left">
    {{ .News.News | safeHTML }}
  </div>
</div>
{{end}}