{{define "content"}}
<section class="bg-light" id="news">
   <div class="container">
    <a href="/viewinvestment?id={{.Investment.ID}}" class="btn btn-primary my-2">Back to Dashboard</a>
    <div class="row">
         <div class="col-lg-8 text-center">
            <h3 class="section-heading text-uppercase">Edit News with ID {{.News.ID}}</h3>
         </div>
       </div>
      <div class="row">
         <div class="col-lg-4">
              <form class="form-signup-login form-investment" method="post" action="/updateNews">
              <input type="hidden" name="id" id="id" value="{{.News.ID}}">
               <input type="hidden" name="Investment_ID" id="Investment_ID" value="{{.Investment.ID}}">
               <div class="form-group">
                <label for="Status">Status</label>
                 <select class="form-control" id="Status" name="Status">
                   <option value="PENDING">Pending</option>
                   <option value="PUBLISH">Publish</option>
                   <option value="ARCHIVE">Archive</option>
                  </select>
               </div>
               <label for="NewsDate">News Date</label>
               <div class="input-group date" data-provide="datepicker-inline">
                  <input type="text" id="NewsDate" name="NewsDate" value="{{ .News.NewsDate }}" class="form-control" required autofocus>
                  <div class="input-group-addon">
                     <span class="glyphicon glyphicon-th"></span>
                  </div>
               </div>
               <div class="form-group">
                <label for="Title">Title</label>
                <input name="Title" type="text" class="form-control" placeholder="Title" value="{{ .News.Title }}"  autofocus>
                </div>
         </div>
      </div>
      <div class="row">
      <div class="col-lg-12">
      <textarea id="summernote" name="News">{{.News.News}}</textarea>
      </div> 
      <button class="btn btn-md btn-primary btn-block" type="submit">Update</button>
      </form>
      </div>
   </div>
</section>
{{end}}