{{define "content"}}
<section class="bg-light" id="fundingreqs">
    <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                               {{if or (.CurrentUser.Dsc) (.CurrentUser.Admin)  }}
                                <div class="overview-wrap">
                                    <!-- <h2 class="title-1">Application Details</h2> -->
                                    <a href="/fundingreqs" class="au-btn au-btn-icon au-btn--blue2"><i class="zmdi zmdi-view-list-alt"></i>All Applications</a> 
                                   <a href="/screeningNotes?Application_ID={{.Existing.ID}}" class="au-btn au-btn-icon au-btn--blue2"><i class="zmdi zmdi-plus"></i>Screening Notes</a>
                                </div>
                                {{end}}
                                <div class="form-group" id="Industries">
                        <div class="row m-t-25">
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c1">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-account-o"></i>
                                            </div>
                                            <div class="text">
                                                <h2>{{ .Existing.CompanyName }}</h2>
                                                <span>{{ .Existing.Email }}</span></br>
                                                <span>Phone: {{ .Existing.Phone }}</span></br>
                                                <span>Referrer: {{ .Existing.Referrer }}</span></br>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <!-- <canvas id="widgetChart1"></canvas> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c2">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-gps-dot"></i>
                                            </div>
                                            <div class="text">
                                                <h6><a class="text" href="{{ .Existing.Website }}">{{ .Existing.Website }}</a></h6>
                                                <span>Website</span>
                                            </div>
                                            <div class="text">
                                                <h2>{{.Existing.Locations}}</h2>
                                                <span>Location</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart2"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c3">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-calendar-note"></i>
                                            </div>
                                            <div class="text">
                                                <h2>{{.Existing.Revenue}}</h2>
                                                <span>Revenue Status</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart3"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c4">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-money"></i>
                                            </div>
                                            <div class="text">
                                                <h2>${{.Existing.CapitalRaised}}</h2>
                                                <span>Capital Raised</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart4"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="au-card recent-report">
                                    <div class="au-card-inner">
                                        <h3 class="title-2">Comments</h3>
                                        <div class="chart-info">
                                        {{ .Existing.Comments}}  
                                            
                                        </div>
                                        <div class="recent-report__chart">
                                            <canvas id="recent-rep-chart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="au-card chart-percent-card">
                                    <div class="au-card-inner">
                                        <h3 class="title-2 tm-b-5">Elevator Pitch</h3>
                                    </div>
                                    {{ .Existing.ElevatorPitch}}
                                </div>
                                {{range .AllNotes }}
                         
                                <div class="overview-item overview-item--c4">
                                <div class="au-card chart-percent-card">
                                    <div class="au-card-inner">
                                        <h3 class="title-2 tm-b-5">Screening Comments</h3> {{.Status}}ED By {{.ScreenerEmail}}
                                    </div>
                                    {{.Comments | safeHTML}}
                                </div>
                              </div>
                                {{end}}
                            </div>
                            
                        </div>
                         {{if .AllNotes }}
                        <div class="row">
                        <h3 class="title-2">Screening Interview Notes (Risk Scores: Low Scores are good.)</h3>
                        <div class="table-responsive table--no-card m-b-40">
                                         <table class="table">
                                            <thead>
                                               <tr>
                                                  <th scope="row">Interviewer</th>
                                                  <th>Need</th>
                                                  <th>Date</th>
                                                  <th>Exit</th>
                                                  <th>Team</th>
                                                  <th>Barrier To Entry</th>
                                                  <th>Tech</th>
                                                  <th>Political</th>
                                                  <th>Supplier</th>
                                                  <th>Execution</th>
                                                  <th>Market</th>
                                                  <th>Scaling</th>
                                               </tr>
                                            </thead>
                                            <tbody>
                                               {{range .AllNotes }}
                                               <tr>
                                                  <td>{{.ScreenerEmail}}</td>
                                                  <td>{{.Need}}</td>
                                                  <td>{{.FormattedScreeningDate}}</td>
                                                  <td>{{ .ExitRisk }}</td>
                                                  <td>{{ .TeamRisk }} </td>
                                                  <td>{{ .BarrierToEntry }}</td>
                                                  <td>{{ .TechRisk }}</td>
                                                  <td>{{ .PoliticalRisk }}</td>
                                                  <td>{{ .SupplierRisk }}</td>
                                                  <td>{{ .ExecutionRisk }}</td>
                                                  <td>{{ .MarketRisk }}</td>
                                                  <td>{{ .ScalingRisk }}</td>
                                               </tr>
                                               {{end}}
                                            </tbody>
                                         </table>
                                      </div>
                                  </div>
                                  {{end}}
                      </div>
                      </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            </section>
            {{end}}