{{define "content"}}
<section class="bg-light" id="fundingreqs">
    <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                               {{if or (.CurrentUser.Dsc) (.CurrentUser.Admin) (.CurrentUser.InvestorRelations)  }}
                                <div class="overview-wrap">
                                    <!-- <h2 class="title-1">Application Details</h2> -->
                                    <a href="/fundingreqs" class="au-btn au-btn-icon au-btn--blue2"><i class="zmdi zmdi-view-list-alt"></i>All Applications</a>
                                    <a class="au-btn au-btn-icon au-btn--blue2" href="javascript:void(0)" data-toggle="modal" data-target="#application-modal"><i class="zmdi zmdi-edit"></i>Edit Application</a>
                                   <a href="/screeningNotes?Application_ID={{.Existing.ID}}" class="au-btn au-btn-icon au-btn--blue2"><i class="zmdi zmdi-plus"></i>Screening Notes</a>
                                </div>
                                {{end}}
                                <div class="form-group" id="Industries">
                        <div class="row m-t-25">
                        <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c3">
                                    <div clFass="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-spinner"></i>
                                            </div>
                                            <div class="text">
                                            <h2>Status</h2>
                                            <div style="word-break: break-all;">
                                                <span>{{.Existing.Status}}<span>
                                                  </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c1">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-account-o"></i>
                                            </div>
                                            <div class="text">
                                                <h2>{{ .Existing.CompanyName }}</h2>
                                                <span>{{ .Existing.Email }}</span></br>
                                                <span>Phone: {{ .Existing.Phone }}</span></br>
                                                <span>Referrer: {{ .Existing.Referrer }}</span></br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c2">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-gps-dot"></i>
                                            </div>
                                            <div class="text">
                                                <h6><a class="text" href="{{ .Existing.Website }}">{{ .Existing.Website }}</a></h6>
                                                <span>Website</span>
                                            </div>
                                            <div class="text">
                                                <h2>{{.Existing.Locations}}</h2>
                                                <span>Location</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c4">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-money"></i>
                                            </div>
                                            <div class="text">
                                                <h2>{{.Existing.CapitalRaised | currencyFormat}}</h2>
                                                <span>Capital Raised</span>
                                            </div>
                                            <div class="text">
                                                <h2>{{.Existing.Revenue}}</h2>
                                                <span>Revenue Status</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="au-card recent-report">
                                    <div class="au-card-inner">
                                        <h3 class="title-2">Comments</h3>
                                        <div class="chart-info">
                                        {{ .Existing.Comments}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="au-card chart-percent-card">
                                    <div class="au-card-inner">
                                        <h3 class="title-2 tm-b-5">Elevator Pitch</h3>
                                    </div>
                                    <div class="chart-info">
                                    {{ .Existing.ElevatorPitch}}
                                  </div>
                                </div>
                                </div>
                                {{if .AllNotes }}
                                  <div class="row">
                                  <h3 class="title-2">Screening Interview Risk Analysis (Risks: Exit,Team,....Competition)</h3>
                                  <div class="table-responsive table--no-card m-b-40">
                                                   <table class="table">
                                                      <thead>
                                                         <tr>
                                                            <th scope="row">Interviewer</th>
                                                            <th>Need</th>
                                                            <th>Date</th>
                                                            <th>Exit</th>
                                                            <th>Team</th>
                                                            <th>Barrier To Entry</th>
                                                            <th>Tech</th>
                                                            <th>Political</th>
                                                            <th>Supplier</th>
                                                            <th>Execution</th>
                                                            <th>Market</th>
                                                            <th>Scaling</th>
                                                            <th>Competition</th>
                                                         </tr>
                                                      </thead>
                                                      <tbody>
                                                         {{range .AllNotes }}
                                                         <tr>
                                                            <td>{{.ScreenerEmail}}</td>
                                                            <td>{{.Need}}</td>
                                                            <td>{{.FormattedScreeningDate}}</td>
                                                            <td>{{ .ExitRisk | scoreDescription }}</td>
                                                            <td>{{ .TeamRisk | scoreDescription}}</td>
                                                            <td>{{ .BarrierToEntry | scoreDescription}}</td>
                                                            <td>{{ .TechRisk | scoreDescription}}</td>
                                                            <td>{{ .PoliticalRisk | scoreDescription}}</td>
                                                            <td>{{ .SupplierRisk | scoreDescription}}</td>
                                                            <td>{{ .ExecutionRisk | scoreDescription}}</td>
                                                            <td>{{ .MarketRisk | scoreDescription}}</td>
                                                            <td>{{ .ScalingRisk | scoreDescription}}</td>
                                                            <td>{{ .CompetitionRisk | scoreDescription}}</td>
                                                         </tr>
                                                         {{end}}
                                                      </tbody>
                                                   </table>
                                                </div>
                                            </div>

                                  {{end}}
                                {{range .AllNotes }}
                                <div class="table-responsive table--no-card m-b-40">
                                  <div class="overview-item overview-item--c4">
                                    <div class="au-card-inner">
                                        <h3 class="title-2 tm-b-5">Screening Comments</h3> {{.Status | screeningStatus}} By {{.ScreenerEmail}}
                                    </div>
                                    {{.Comments | safeHTML}}
                                </div>
                              </div>
                                {{end}}
                            
                        </div>
                      </div>
                      </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- Application Info Modal -->
            <div class="modal fade" id="application-modal" tabindex="-1" role="dialog" aria-labelledby="application-label" aria-hidden="true">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h4 class="modal-title" id="application-label">Update Application Info</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                     </div>
                     <form method="post" action="/updateApplication">
                        <input type="hidden" name="id" value="{{.Existing.ID}}">
                        <div class="modal-body">
                          <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                           <button type="button" class="btn btn-success" onclick="$(this).closest('form').submit()">Save changes</button>
                        </div>
                           <div class="form-group">
                              <label for="Status">Application Status</label>
                              <select class="form-control" id="Status" name="Status">
                                 <option value="Initial Review Pending By DSC" {{ if eq "Initial Review Pending By DSC" .Existing.Status }}selected="selected"{{ end }}>Initial Review Pending By DSC</option>
                                 <option value="Initial Meeting Scheduled By DSC" {{ if eq "Initial Meeting Scheduled By DSC" .Existing.Status }}selected="selected"{{ end }}>Initial Meeting Scheduled By DSC</option>
                                 <option value="Deal is Not a Fit, Archived By DSC" {{ if eq "Deal is Not a Fit, Archived By DSC" .Existing.Status }}selected="selected"{{ end }}>Deal is Not a Fit, Archived by DSC</option>
                                 <option value="Deal is Early For Us, Archived By DSC" {{ if eq "Deal is Early For Us, Archived By DSC" .Existing.Status }}selected="selected"{{ end }}>Deal is Early For Us, Archived By DSC</option>
                                 <option value="Deal is Not Ready, Tracked By DSC" {{ if eq "Deal is Not Ready, Tracked By DSC" .Existing.Status }}selected="selected"{{ end }}>Deal is Not Ready, Tracked By DSC</option>
                                 <option value="Deal is Ready, GP Followup Recommended" {{ if eq "Deal is Ready, GP Followup Recommended" .Existing.Status }}selected="selected"{{ end }}>Deal is Ready, GP Followup Recommended</option>
                                 <option value="Bypassed DSC, Fast Tracked By GPs and Initial Call Scheduled" {{ if eq "Bypassed DSC, Fast Tracked By GPs and Initial Call Scheduled" .Existing.Status }}selected="selected"{{ end }}>Bypassed DSC, Fast Tracked By GPs and Initial Call Scheduled</option>
                                 <option value="GPs Initial Review Found Deal is Not Ready, Archived By GPs" {{ if eq "GPs Initial Review Found Deal is Not Ready, Archived By GPs" .Existing.Status }}selected="selected"{{ end }}>GPs Initial Review Found Deal is Not Ready, Archived By GPs</option>
                                 <option value="GP Found Deal Limitations, Tracking" {{ if eq "GPs Found Deal Limitations, Tracking" .Existing.Status }}selected="selected"{{ end }}>GPs Found Deal Limitations, Tracking</option>
                                 <option value="Accepted into Due Diligence By GPs" {{ if eq "Accepted into Due Diligence By GPs" .Existing.Status }}selected="selected"{{ end }}>Accepted into Due Diligence By GPs</option>
                                 <option value="Due Diligence Found Deal Limitations, Archived By GPs" {{ if eq "Due Diligence Found Deal Limitations, Archived By GPs" .Existing.Status }}selected="selected"{{ end }}> Due Diligence Found Deal Limitations, Archived By GPs</option>
                                 <option value="Investment Recommended By GPs" {{ if eq "Investment Recommended By GPs" .Existing.Status }}selected="selected"{{ end }}>Investment Recommended By GPs</option>
                                 <option value="Investment Completed By GPs" {{ if eq "Investment Completed By GPs" .Existing.Status }}selected="selected"{{ end }}>Investment Completed By GPs</option>
                              </select>
                           </div>
                           <div class="form-group">
                              <label class="control-label" for="Locations">Program Location:</label>
                              <input type="text" name="Locations" id="Locations" class="form-control" value="{{ .Existing.Locations }}">
                           </div>
                           <div class="form-group">
                              <label class="control-label" for="FirstName">First Name:</label>
                              <input type="text" name="FirstName" id="FirstName" class="form-control" value="{{ .Existing.FirstName }}">
                           </div>
                           <div class="form-group">
                              <label class="control-label" for="LastName">Last Name:</label>
                              <input type="text" name="LastName" id="LastName" class="form-control" value="{{ .Existing.LastName }}">
                           </div>
                           <div class="form-group">
                              <label class="control-label" for="Email">Email:</label>
                              <input type="email" name="Email" id="Email" class="form-control" value="{{ .Existing.Email }}">
                           </div>
                           <div class="form-group">
                              <label class="control-label" for="Phone">Phone:</label>
                              <input type="tel" name="Phone" id="Phone" class="form-control" value="{{ .Existing.Phone }}">
                           </div>
                           <div class="form-group">
                              <label class="control-label" for="CompanyName">Company Name:</label>
                              <input type="text" name="CompanyName" id="CompanyName" class="form-control" value="{{ .Existing.CompanyName }}">
                           </div>
                           <div class="form-group">
                              <label class="control-label" for="Website">Website:</label>
                              <input type="text" name="Website" id="Website" class="form-control" value="{{ .Existing.Website }}">
                           </div>
                           <div class="form-group">
                              <label class="control-label" for="Referrer">Who Referred You?:</label>
                              <input type="text" name="Referrer" id="Referrer" class="form-control" value="{{ .Existing.Referrer }}">
                           </div>
                           <div class="form-group">
                              <label class="control-label" for="CapitalRaised">Capital Raised:</label>
                              <input type="number" name="CapitalRaised" id="CapitalRaised" class="form-control" value="{{ .Existing.CapitalRaised }}">
                           </div>
                           <div class="form-group" id="Revenue">
                              <div class="row">
                              <label class="control-label" for="Revenue">Revenue Status:</label>
                              </div>
                              <div class="form-check form-check-inline">
                              <label class="form-check-label" for="PreRevenue">Pre Revenue</label>
                              <input class="form-check-input2" type="radio" name="Revenue" id="PreRevenue" value="Pre-Revenue" {{ if eq "Pre-Revenue" .Existing.Revenue }}checked="checked"{{ end }}>
                              </div>
                              <div class="form-check form-check-inline">
                              <label class="form-check-label" for="RevenuePositive">Revenue Positive</label>
                              <input class="form-check-input2" type="radio" name="Revenue" id="RevenuePositive" value="Revenue Positive" {{ if eq "Revenue Positive" .Existing.Revenue }}checked="checked"{{ end }}>
                              </div>
                              <div class="form-check form-check-inline">
                              <label class="form-check-label" for="Profitable">Profitable</label>
                              <input class="form-check-input2" type="radio" name="Revenue" id="Profitable" value="Profitable" {{ if eq "Profitable" .Existing.Revenue }}checked="checked"{{ end }}>
                              </div>
                           </div>
                        </div>
                        <div class="form-group">
                              <label class="control-label" for="Industries">Industries:</label>
                              <input type="text" name="Industries" id="Industries" class="form-control" value="{{ .Existing.Industries }}">
                        </div>
                        <div class="form-group">
                              <label class="control-label" for="ElevatorPitch">Elevator Pitch:</label>
                              <textarea type="text" name="ElevatorPitch" id="ElevatorPitch" class="form-control">{{ .Existing.ElevatorPitch | safeHTML}}</textarea>
                           </div>
                        <div class="form-group">
                          <label class="control-label" for="Comments">Comments:</label>
                           <textarea type="text" name="Comments" id="Comments" class="form-control">{{ .Existing.Comments | safeHTML }}</textarea>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                           <button type="button" class="btn btn-success" onclick="$(this).closest('form').submit()">Save changes</button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
            </section>
            {{end}}
