{{define "content"}}
<section class="bg-light" id="news">
   <!-- MAIN CONTENT-->
   <div class="main-content">
      <div class="section__content section__content--p30">
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-12">
                  <h2 class="title-1 m-b-25">Applications</h2>
                  <div class="table-responsive table--no-card m-b-40">
                     <table class="table table-borderless table-striped table-earning">
                        <thead>
                           <tr>
                              <th scope="row">ID</th>
                              <th>Application Date</th>
                              <th>Founder Name</th>
                              <th>Email</th>
                              <th>Phone</th>
                              <th>Referrer</th>
                           </tr>
                        </thead>
                        <tbody>
                           {{range .Existing }}
                           <tr>
                              <th scope="row">    <a class="btn btn-sm btn-info" href="/fundingappl?id={{.ID}}" role="button"><i class="zmdi zmdi-view-subtitles"></i></a></th>
                              <td>{{.FormattedApplicationDate}}</td>
                              <td>{{ .FirstName }} {{ .LastName }}</td>
                              <td>{{ .Email }}</td>
                              <td>{{ .Phone }}</td>
                              <td>{{ .Referrer}}</td>
                           </tr>
                           {{end}}
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   </div>
   <!-- END MAIN CONTENT-->
</section>
{{end}}