{{define "content"}}
<!-- Fund I-->
<section class="jumbotron text-center">
   <div class="container">
      {{.CurrentUser.Email}} 
      <h1 class="jumbotron-heading">
         Welcome To Investor Dashboard
      </h1>
      <span>Your Ownership Percentages</span>
      {{range .Contributions}}
      <span>{{.FundLegalName}} - {{.OwnershipPercentage}}%</span></br>
      {{end}}
      <button class="au-btn au-btn-icon au-btn--blue2" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      Tax Documents
      </button>
      <div id="collapseOne" class="collapse">
         <p class="card-text">
         <table class="table">
            <tbody>
               {{range .InvestmentDocs }}
               <tr>
                  <td>
                     <a class="btn btn-sm btn-outline-success" href="{{ .DocPath }}" download="{{ .DocName }}" role="button"><i class="zmdi zmdi-download"></i>{{ .DocName }}</a>
                  </td>
               </tr>
               {{end}}
            </tbody>
         </table>
         </p>
      </div>
   </div>
</section>
{{if .FundIInvestor}}
<section class="p-t-20">
<!-- Portfolio Ratings Table -->
   <div class="container-fluid">
      <div class="row">
         <div class='col-sm-3'></div>
         <div class="col-sm-8">
            <h3 class="title-5 m-b-35">FUND I Forecasts 10-11x Return in Three Years</h3>
            <div class="embed-responsive embed-responsive-16by9 align-items-center">
               <iframe class="embed-responsive-item" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQKAve72-n3us87Nch_l4Sk6wRco3Ab6FRI3uLkeAsLD1K6yOwTtGWsdzpKkm025SMqKlzKHPlYMPDN/pubchart?oid=703267337&amp;format=interactive"></iframe>
               </div>
         </div>
         <div class='col-sm-1'></div>
      </div>
      <div class="row">
         <div class='col-sm-3'></div>
         <div class="col-sm-8">
            <h3 class="title-5 m-b-35">FUND I Detailed Performance and Forecast of Big Winners</h3>
            <div class="embed-responsive embed-responsive-16by9 align-items-center">
               <iframe class="embed-responsive-item" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTfJU_LYUaFxVBjtVhmUbDP3WP23yuQ5infY28nbV2FKflN15DqGcwaEimlmpbzb2idxeXYzen0Zfgp/pubchart?oid=1850120934&amp;format=interactive"></iframe>
               </div>
         </div>
         <div class='col-sm-1'></div>
      </div>
      <div class="row">
         <div class='col-sm-3'></div>
         <div class="col-sm-8">
            <h3 class="title-5 m-b-35">FUND I Detailed Performance and Forecast</h3>
            <div class="embed-responsive embed-responsive-16by9 align-items-center">
               <iframe class="embed-responsive-item" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRs_Y8iY3seUsDi5bdqM7ec9119esGK7jPX_tTEPQHjdvie5lX9hLJ87fHVv2rP_CKPCgZu8M2PwYuB/pubchart?oid=1850120934&amp;format=interactive"></iframe>
               </div>
         </div>
         <div class='col-sm-1'></div>
      </div>
      
   </div>
</div>
</section>
{{end}}
{{if .FundIIInvestor}}
<section class="p-t-20">
<!-- Portfolio Ratings Table -->
   <div class="container-fluid">
      <div class="row">
         <div class='col-sm-3'></div>
         <div class="col-sm-8">
            <h3 class="title-5 m-b-35">FUND II Forecasts 20-25x Return in Three Years</h3>
            <div class="embed-responsive embed-responsive-16by9 align-items-center">
               <iframe class="embed-responsive-item" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRoikZDWfv4Jt86gujVjkcSSF8fb6GN14_VtmbYhH0PHXvN7ICREn5MDUIm5v3c0Yrag-YawLLslGaK/pubchart?oid=703267337&amp;format=interactive"></iframe>
               </div>
         </div>
         <div class='col-sm-1'></div>
      </div>
      <div class="row">
         <div class='col-sm-3'></div>
         <div class="col-sm-8">
            <h3 class="title-5 m-b-35">FUND II Detailed Performance and Forecast of Big Winners</h3>
            <div class="embed-responsive embed-responsive-16by9 align-items-center">
             <iframe class="embed-responsive-item" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSc6NWt_1I4DWthdZflMNqiyuTiVFxNlnswnd6pGDZIYyYPpwkjvTmpdbU6tWjcCzUVjFqy97_aKlER/pubchart?oid=1850120934&amp;format=interactive"></iframe>  
               </div>
         </div>
         <div class='col-sm-1'></div>
      </div>
      <div class="row">
         <div class='col-sm-3'></div>
         <div class="col-sm-8">
            <h3 class="title-5 m-b-35">FUND II Detailed Performance and Forecast</h3>
            <div class="embed-responsive embed-responsive-16by9 align-items-center">
               <iframe class="embed-responsive-item" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTwq_RA4WWdHBfB_hgbyE_pn4HKd_1P2Hu3P7ttFiFiQE6Pf_jcweuYLiIY6_8UIIBy-nQAnb4lcefF/pubchart?oid=1850120934&amp;format=interactive"></iframe>
               </div>
         </div>
         <div class='col-sm-1'></div>
      </div>
      
   </div>
</div>
</section>
{{end}}

      
<!-- End Revenue Table -->
<!-- DATA TABLE-->
<section class="p-t-20">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h3 class="title-5 m-b-35">Investment Portfolio: Click on a Company Name for Details</h3>
            {{if .Assessments}}
            <div class="table-responsive table--no-card m-b-30">
               <table class="table table-hover table-borderless table-striped table-earning ">
                  <thead>
                     <tr>
                        <th>Company Name</th>
                        <th>Playbook Rating</th>
                        <th>Team</th>
                        <th>Revenue Growth</th>
                        <th>Return Multiple Projection</th>
                     </tr>
                  </thead>
                  <tbody>
                     {{range .Assessments }}
                     <tr id="{{.Investment_ID}}" class="tr-shadow">
                        <td>{{.StartupName}}</td>
                        <td>
                           {{ if eq "SlowGrowth" .Status }}
                           <p class="text-danger">Slow Growth
                           {{ end }}
                           {{ if eq "HighPotential" .Status }}
                           <p class="text-info">High Potential</p>
                           {{ end }}
                           {{ if eq "Star" .Status }}
                           <p class="text-success">Star</p>
                           {{ end }}
                        </td>
                        <td>
                           {{ if eq "SlowGrowth" .Status }}
                           <p class="text-danger">B-C
                           {{ end }}
                           {{ if eq "HighPotential" .Status }}
                           <p class="text-info">A-B+</p>
                           {{ end }}
                           {{ if eq "Star" .Status }}
                           <p class="text-success">A+</p>
                           {{ end }}
                        </td>
                        <td>
                           {{ if eq "SlowGrowth" .Status }}
                           <p class="text-danger">Less than 50% of Plan
                           {{ end }}
                           {{ if eq "HighPotential" .Status }}
                           <p class="text-info">50-70% of Plan</p>
                           {{ end }}
                           {{ if eq "Star" .Status }}
                           <p class="text-success">70%+ of Plan</p>
                           {{ end }}
                        </td>
                        <td>
                           {{ if eq "SlowGrowth" .Status }}
                           <p class="text-danger">1-2X
                           {{ end }}
                           {{ if eq "HighPotential" .Status }}
                           <p class="text-info">More than 5X</p>
                           {{ end }}
                           {{ if eq "Star" .Status }}
                           <p class="text-success">More than 10X</p>
                           {{ end }}
                        </td>
                     </tr>
                     <tr class="spacer"></tr>
                     {{end}}
                  </tbody>
               </table>
            </div>
            {{end}}
         </div>
      </div>
   </div>
</section>
<!-- END DATA TABLE-->
{{end}}