{{define "content"}}
<!-- Fund I-->
<section class="jumbotron text-center">
   <div class="container">
      {{.CurrentUser.Email}} 
      <h1 class="jumbotron-heading">
         Welcome To Investor Dashboard
      </h1>
   </div>
</section>
<p class="lead text-muted"></p>
<div class="row m-t-25">
   <div class="col-sm-6">
      {{if .DisplayPieChart}}
      <div class="au-card m-b-10">
         <div class="au-card-inner">
            <h3 class="title-2 m-b-20">Investor Contribution</h3>
            <canvas id="CapitalContributionPieChart"></canvas>
         </div>
      </div>
      {{else}}
      {{range .Contributions}}
      <div class="overview-item overview-item--c3">
         <div class="overview__inner">
            <div class="overview-box clearfix">
               <div class="icon">
                  <i class="zmdi zmdi-money"></i>
               </div>
               <div class="text">
                  <h2>{{.InvestmentAmount}}</h2>
                  <span>Investor Contribution</span></br>
               </div>
            </div>
            <div class="overview-box clearfix">
               <div class="text">
                  <h2>{{.FundLegalName}}</h2>
                  <span>Fund Name</span>
               </div>
            </div>
            <div class="overview-box clearfix">
               <div class="text">
                  <h2>{{.OwnershipPercentage}}%</h2>
                  <span>Ownership Percentage </span>
               </div>
            </div>
            {{end}}
         </div>
      </div>
      {{end}}
   </div>
   <div class="col-sm-6">
      <div class="overview-item overview-item--c1">
         <div class="overview__inner">
            <div class="overview-box clearfix">
               <div class="text">
                  <h2>3Lines Diversification</h2><span> (Note: Highlight the bars)</span>
               </div>
            </div>
            <div class="overview-chart">
               <canvas id="CapitalInvestmentBarChart"></canvas>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row m-t-25">
   <div class="col-sm-6">
      <div class="overview-item overview-item--c4">
      <div class="overview__inner">
         <div class="overview-box clearfix">
               <span>Fund I Performance</span>
               <div class="text">
                  <h2>OverWatchID Successfully Exited</h2>
               </div>
            </div>
            <div class="overview-box clearfix"></div>
            <canvas id="portfoliovalue"></canvas>
         </div>
      </div>
   </div>
   <div class="col-sm-6">
      <div class="overview-item overview-item--c2">
         <div class="overview__inner">
          <div class="overview-box clearfix">
               <div class="icon">
                  <i class="zmdi zmdi-money"></i>
               </div>
               <div class="text">
                  <h2>8,290,000</h2>
                  <span>Total Management</span>
               </div>
            </div>
            <div class="overview-box clearfix">
               <div class="icon">
                  <i class="zmdi zmdi-money"></i>
               </div>
               <div class="text">
                  <h2>4,485,000</h2>
                  <span>Fund II</span>
               </div>
            </div>
            <div class="overview-box clearfix">
               <div class="icon">
                  <i class="zmdi zmdi-money"></i>
               </div>
               <div class="text">
                  <h2>2,325,000</h2>
                  <span>SPVs</span>
               </div>
            </div>
            <div class="overview-box clearfix">
               <div class="icon">
                  <i class="zmdi zmdi-money"></i>
               </div>
               <div class="text">
                  <h2>1,480,000</h2>
                  <span>Fund I</span>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
<!-- <div class="row m-t-25">

   <div class="col-sm-6">
      <div class="overview-item overview-item--c4">
         <div class="overview__inner">
            <div class="overview-box clearfix">
               <div class="text">
                  <h2>Deal Flow</h2>
               </div>
            </div>
            <div class="overview-chart">
               <canvas id="investmentspeed"></canvas>
            </div>
         </div>
      </div>
   </div>




   <div class="col-md-6">
      
</div>
</div> -->

<!-- DATA TABLE-->
<section class="p-t-20">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
          <h3 class="title-5 m-b-35">Investor Portfolio</h3>
            {{if .Investments}}
            <div class="table-responsive table-responsive-data2">
               <table class="table table-data2 table-hover">
                  <thead>
                     <tr>
                        <th>Company Name</th>
                        <th>Status</th>
                        <th>Current Value</th>
                        <th>Invested Capital</th>
                     </tr>
                  </thead>
                  <tbody>
                     {{range .Investments }}
                      <tr id="{{.ID}}" class="tr-shadow">
                        <td>{{.StartupName}}</td>
                        <td>
                           {{ if eq "PERFORMANCE_BELOW_TARGET" .Status }}
                           <span class="item" data-toggle="tooltip" data-placement="top" title="Performance Below Target"><i class="fa fa-circle" style="font-size:48px;color:#ffc107"></i>
                           {{ end }}
                           {{ if eq "PERFORMANCE_ON_TARGET" .Status }}
                           <span class="item" data-toggle="tooltip" data-placement="top" title="Performance On Target"><i class="fa fa-circle" style="font-size:48px;color:#6c757d"></i>
                           {{ end }}
                           {{ if eq "PERFORMANCE_ABOVE_TARGET" .Status }}
                           <span class="item" data-toggle="tooltip" data-placement="top" title="Performance Above Target"><i class="fa fa-circle" style="font-size:48px;color:#28a745"></i>
                           {{ end }}
                           {{ if eq "POOR_PERFORMANCE" .Status }}
                           <span class="item" data-toggle="tooltip" data-placement="top" title="Poor Performance"><i class="fa fa-circle" style="font-size:48px;color:#dc3545"></i>
                           {{ end }}
                           {{ if eq "ACQUIRED_OR_SOLD" .Status }}
                           <span class="item" data-toggle="tooltip" data-placement="top" title="Acquired Or Sold"><i class="fa fa-circle" style="font-size:48px;color:#17a2b8"></i>
                           {{ end }}
                        </td>
                        <td class="desc">{{.ReportedValue | currencyFormat }}</td>
                        <td>
                           {{.InvestedCapital | currencyFormat}}
                        </td>
                        
                     </tr>
                     <tr class="spacer"></tr>
                     {{end}}
                  </tbody>
               </table>
            </div>
            {{end}}
         </div>
      </div>
   </div>
</section>
<!-- END DATA TABLE-->
{{end}}