{{define "content"}}
<section class="bg-light" id="newcapitalstructure">    
   <div class="container">  
      <a href="/viewinvestment?id={{.Investment.ID}}" class="au-btn au-btn-icon au-btn--blue2">Back to Investment</a>
      <div class="row">
         <div class="col-lg-8 text-center">
            <h3 class="section-heading text-uppercase">Capital Structure</h3> for {{.Investment.StartupName}} 
         </div>
         <table class="table">
          <tbody>
            {{range .Existing }}
            <tr>
             <th scope="row">{{.ID}}</th>
             <td>{{.FormattedReportingDate}}</td>
             <td>{{ .Capitalization }}</td>
             <td>{{.ClosingValue}}</td>
             <td><a class="btn btn-sm btn-outline-danger" href="/removecapitalstructure?id={{.ID}}&Investment_ID={{ $.Investment.ID }}" role="button"> Remove </a></td>
            </tr>
            {{end}}
          </tbody>
        </table>
      </div>
      <div class="row">
         <div class="col-lg-4">
            <form class="form-signup-login form-investment" method="post" action="/addCapitalStructure">
              <input type="hidden" name="Investment_ID" id="Investment_ID" value="{{.Investment.ID}}">
               <div class="form-group">
                 <label for="Capitalization">Capitalization Type</label>
                 <select class="form-control" id="Capitalization" name="Capitalization">
                   <option value="Cash on Hand">Cash on Hand</option>
                   <option value="Total Net Debt">Total Net Debt</option>
                   <option value="Equity">Equity</option>
                   <option value="Enterprise Value">Enterprise Value</option>
                 </select>
               </div>
               <label for="ReportingDate">Reporting Date</label>
               <div class="input-group date" data-provide="datepicker-inline">
                  <input type="text" id="ReportingDate" name="ReportingDate" value="{{ .CapitalizationStructure.ReportingDate }}" class="form-control" required autofocus>
                  <div class="input-group-addon">
                  <i class="fa fa-calendar" aria-hidden="true"></i><span class="glyphicon glyphicon-th"></span>
                  </div>
               </div>
               <label for="ClosingValue">Closing Value</label>
               <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                  </div>
                  <input name="ClosingValue" type="number" min="0.00" step="0.01" class="form-control" placeholder="500" value="{{ .CapitalizationStructure.ClosingValue }}"  required autofocus>
                  <div class="input-group-append">
                      <span class="input-group-text">.00</span>
                  </div>
               </div>
               <label for="YearEndValue">Year End Value</label>
               <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                  </div>
                  <input name="YearEndValue" type="number" min="0.00" step="0.01" class="form-control" placeholder="2,500,000" value="{{ .CapitalizationStructure.YearEndValue }}"  required autofocus>
                  <div class="input-group-append">
                      <span class="input-group-text">.00</span>
                  </div>
               </div>
               
               <button class="au-btn au-btn-icon au-btn--blue2" type="submit">Add</button>
               </form>
         </div>
      </div>
   </div>
</section>
{{end}}