{{define "content"}}
<section class="bg-light" id="team">
   <div class="container">
      <div class="row">
         <div class="col-lg-6 text-center">
            <h2 class="section-heading text-uppercase">Add Financials</h2>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-4">
            <form class="form-signup-login form-investment" method="post" action="/add">
               <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-primary" active>
                  <input type="radio" name="options" id="good" autocomplete="off" checked> On Plan
                  </label>
                  <label class="btn btn-success">
                  <input type="radio" name="options" id="success" autocomplete="off">Above Plan
                  </label>
                  <label class="btn btn-danger">
                  <input type="radio" name="options" id="failure" autocomplete="off"> Below Plan
                  </label>
               </div>
               <div class="form-group">
                  <label for="Revenue">Revenue</label>
                  <input name="Revenue" type="text" class="form-control" placeholder="$50,000,000" value="{{ .Revenue }}"  required autofocus>
               </div>
               <div class="form-group">
                  <label for="YoYGrowthPercentage1">Year over Year Growth (%)</label>
                  <input name="YoYGrowthPercentage1" type="text" class="form-control" placeholder="100%" value="{{ .YoYGrowthPercentage1 }}" autofocus>
               </div>
               <div class="form-group">
                  <label for="LTMEBITDA">Last Twelve Months Earnings Before Interest, Taxes, Depreciation, and Amortization</label>
                  <input type="text" class="form-control" name="LTMEBITDA" id="LTMEBITDA" placeholder="$50,000,000" value="{{ .LTMEBITDA }}">
               </div>
               <div class="form-group">
                  <label for="YoYGrowthPercentage2">Year over Year Growth TBD (%)</label>
                  <input name="YoYGrowthPercentage2" type="text" class="form-control" placeholder="100%" value="{{ .YoYGrowthPercentage2 }}"  autofocus>
               </div>
               <div class="form-group">
                  <label for="EBITDAMargin">Earnings Before Interest, Taxes, Depreciation, and Amortization Margin</label>
                  <input name="EBITDAMargin" type="text" class="form-control" placeholder="13%" value="{{ .EBITDAMargin }}"  autofocus>
               </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
         <label for="TotalExitValue">Total Exit Value</label>
         <input name="TotalExitValue" type="text" class="form-control" placeholder="$50,000,000" value="{{ .TotalExitValue }}"  autofocus>
         </div>
         <div class="form-group">
         <label for="TotalExitValueMultiple">Total Exit Value Multiple</label>
         <input name="TotalExitValueMultiple" type="text" class="form-control" placeholder="1.2x" value="{{ .TotalExitValueMultiple }}"  autofocus>
         </div>
         <div class="form-group">
         <label for="TotalLeverage">Total Leverage (%)</label>
         <input name="TotalLeverage" type="text" class="form-control" placeholder="18%" value="{{ .TotalLeverage }}"  autofocus>
         </div> 
         <div class="form-group">
         <label for="TotalLeverageMultiple">Total Leverage Multiple</label>
         <input name="TotalLeverageMultiple" type="text" class="form-control" placeholder="1.2x" value="{{ .TotalLeverageMultiple }}"  autofocus>
         </div>
         <div class="form-group">
         <label for="ReportingDate">Reporting Date</label>
         <input type="text" class="form-control" name="ReportingDate" id="ReportingDate" value="YYYY-MM-DD">
         </div>
         </div>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
      <a href="/home" class="other-form text-center">Home</a>
      </form>
   </div>
</section>
{{end}}