{{define "content"}}
<section class="bg-light" id="newinvestment">
   <div class="container">
      <div class="row">
         <form class="form-signup-login form-investment" method="post" action="/add">
         <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Add New Investment</h2>
         </div>
         <a href="/portfolio" class="btn btn-primary my-2">Back to Portfolio</a>
      </div>
      <div class="row">
      <div class="form-group">
           <label for="Status">Invested From</label>
           <select class="form-control" id="Investor" name="Investor" multiple>
             <option value="3Lines 2016 Discretionary Fund, LLC">3Lines 2016 Discretionary Fund, LLC</option>
             <option value="3Lines Rocket Fund, L.P">3Lines Rocket Fund, L.P</option>
           </select>
         </div>
      </div>
      <div class="row">
      <div class="col-lg-4">
      <div class="form-group">
        <div class="form-group">
                  <label for="StartupName">Startup Name</label>
                  <input name="StartupName" type="text" class="form-control" placeholder="StartupName" value="{{ .Investment.StartupName }}" autofocus>
               </div>
               <div class="form-group">
                  <label for="Team">Team</label>
                  <input name="Team" type="text" class="form-control" placeholder="Team" value="{{ .Investment.Team }}" autofocus>
               </div>
      </div> 
      </div> 
      <div class="col-lg-4">
      <div class="form-group">
        <div class="form-group">
                  <label for="Website">Website</label>
                  <input name="Website" type="text" class="form-control" placeholder="Website" value="{{ .Investment.Website }}"  autofocus>
               </div>
               <div class="form-group">
                  <label for="LogoPath">Logo Name/Path</label>
                  <input name="LogoPath" type="text" class="form-control" placeholder="LogoPath" value="{{ .Investment.LogoPath }}" autofocus>
               </div>
      </div> 
      </div> 
      <div class="row">
      <div class="col-lg-12">
      <div class="form-group">
      <textarea id="description" name="Description"></textarea>
      </div> 
      </div>   
      </div>
      <div class="row">
         <div class="col-lg-4">
                <div class="form-group">
                  <label for="Industry">Industry</label>
                  <input name="Industry" type="text" class="form-control" placeholder="Industry" value="{{ .Investment.Industry }}" autofocus>
               </div>
               <label for="InvestmentDate">Investment Date</label>
               <div class="input-group date" data-provide="datepicker-inline">
                  <input type="text" id="InvestmentDate" name="InvestmentDate" value="{{.Investment.InvestmentDate}}" class="form-control">
                  <div class="input-group-addon">
                     <span class="glyphicon glyphicon-th"></span>
                  </div>
               </div>
   
               <div class="form-group">
                  <label for="Headquarters">Headquarters</label>
                  <input name="Headquarters" type="text" class="form-control" placeholder="Headquarters" value="{{ .Investment.Headquarters }}"  autofocus>
               </div>
               <div class="form-group">
                  <label for="CapTable">Cap Table</label>
                  <input name="CapTable" type="text" class="form-control" placeholder="CapTable" value="{{ .Investment.CapTable }}"  autofocus>
               </div>
               <div class="form-group">
         <label for="BoardRepresentation">Board Representation</label>
         <input name="BoardRepresentation" type="text" class="form-control" placeholder=" 0 of 3" value="{{ .Investment.BoardRepresentation }}"  autofocus>
         </div>
         <div class="form-group">
         <label for="BoardMembers">Board Members</label>
         <input name="BoardMembers" type="text" class="form-control" placeholder="eg: Peter, Krishna" value="{{ .Investment.BoardMembers }}"  autofocus>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
         <label for="ExitValueAtClosing">Enterprise Value At Closing</label>
         <input name="ExitValueAtClosing" type="text" class="form-control" placeholder="ExitValueAtClosing" value="{{ .Investment.ExitValueAtClosing }}"  autofocus>
         </div>
         <div class="form-group">
         <label for="FundOwnershipPercentage">Fund Ownership %</label>
         <input name="FundOwnershipPercentage" type="number" min="0.00" step="0.01" min="0.00" step="0.01" class="form-control" placeholder="1%" value="{{ .Investment.FundOwnershipPercentage }}"  autofocus>
         </div>
         <div class="form-group">
         <label for="InvestorGroupPercentage">Investor Group %</label>
         <input name="InvestorGroupPercentage" type="number" min="0.00" step="0.01" min="0.00" step="0.01" class="form-control" placeholder="18%" value="{{ .Investment.InvestorGroupPercentage }}"  autofocus>
         </div> 
         <div class="form-group">
         <label for="ManagementOwnership">Management Ownership %</label>
         <input name="ManagementOwnership" type="number" min="0.00" step="0.01" min="0.00" step="0.01" class="form-control" placeholder="20%" value="{{ .Investment.ManagementOwnership }}"  autofocus>
         </div>
         <div class="form-group">
         <label for="InvestmentCommittment">Investment Committment</label>
         <input name="InvestmentCommittment" type="number" min="0.00" step="0.01" min="0.00" step="0.01" class="form-control" placeholder="$50,0000" value="{{ .Investment.InvestmentCommittment }}"  autofocus>
         </div>
         <div class="form-group">
         <label for="InvestedCapital">Invested Capital</label>
         <input name="InvestedCapital" type="number" min="0.00" step="0.01" min="0.00" step="0.01" class="form-control" placeholder="$50,0000" value="{{ .Investment.InvestedCapital }}"  autofocus>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
         <label for="RealizedProceeds">Realized Proceeds</label>
         <input name="RealizedProceeds" type="number" min="0.00" step="0.01" min="0.00" step="0.01" class="form-control" placeholder="0" value="{{ .Investment.RealizedProceeds }}"  autofocus>
         </div>
         <div class="form-group">
         <label for="ReportedValue">Reported Value</label>
         <input name="ReportedValue" type="number" min="0.00" step="0.01" min="0.00" step="0.01" class="form-control" placeholder="$65000" value="{{ .Investment.ReportedValue }}"  autofocus>
         </div>
         <div class="form-group">
         <label for="InvestmentMultiple">Investment Multiple ( number of times)</label>
         <input name="InvestmentMultiple" type="number" min="0.00" step="0.01" min="0.00" step="0.01" class="form-control" placeholder="1.2" value="{{ .Investment.InvestmentMultiple }}"  autofocus>
         </div>
         <div class="form-group">
         <label for="GrossIRR">Gross Internal Rate of Return (tool tip, link chart)</label>
         <input name="GrossIRR" type="number" min="0.00" step="0.01" min="0.00" step="0.01" class="form-control" placeholder="60%" value="{{ .Investment.GrossIRR }}"  autofocus>
         </div>
         <div class="form-group">
           <label for="Status">Status</label>
           <select class="form-control" id="Status" name="Status">
             <option value="PENDING">Pending</option>
             <option value="COMPLETE">Complete</option>
              <option value="ARCHIVE">Archive</option>
           </select>
         </div>
         </div>
      </div>
      <div class="row">
      <div class="col-lg-12">
      <div class="form-group">
      <textarea id="investmentbackground" name="InvestmentBackground"></textarea>
      </div> 
      </div>   
      </div>
      <div class="row">
      <div class="col-lg-12">
      <div class="form-group">
      <textarea id="investmentthesis" name="InvestmentThesis"></textarea>
      </div>
      </div>
      </div>
      <div class="row">
      <div class="col-lg-12">
      <div class="form-group">
      <textarea id="valuationmethodology" name="ValuationMethodology"></textarea>
      </div> 
      </div>   
      </div>
      <div class="row">
      <div class="col-lg-12">
      <div class="form-group">
      <textarea id="riskassessment" name="RiskAssessment"></textarea>
      </div> 
      </div>   
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
      </form>
   </div>
</section>
{{end}}