{{define "content"}}
<section class="bg-light" id="team">
   <div class="container">
      <div class="row">
         <div class="col-lg-8 text-center">
            <h2 class="section-heading text-uppercase">Add Investment Structure</h2>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-4">
            <form class="form-signup-login form-investment" method="post" action="/add">
               <div class="form-group">
                  <label for="Structure">Type of Investment</label>
                  <input name="Structure" type="text" class="form-control" placeholder="Eg: Common Units,Series B Preferred,Note " value="{{ .Structure }}"  required autofocus>
               </div>
               <div class="form-group">
                <label for="ReportingDate">Reporting Date</label>
                <input type="text" class="form-control" name="ReportingDate" id="ReportingDate" placeholder="2006-Jan-02" value="{{.ReportingDate}}" >
               </div>
               <div class="form-group">
                  <label for="Units">Number of Units Par</label>
                  <input name="Units" type="text" class="form-control" placeholder="500" value="{{ .Units }}"  required autofocus>
               </div>
               <div class="form-group">
                  <label for="TotalInvested">Total Invested</label>
                  <input name="TotalInvested" type="text" class="form-control" placeholder="2,500,000" value="{{ .TotalInvested }}"  required autofocus>
               </div>
               <div class="form-group">
                  <label for="ReportedValue">Reported Value</label>
                  <input name="ReportedValue" type="text" class="form-control" placeholder="$2,500,000" value="{{ .ReportedValue }}"  required autofocus>
               </div>
               <div class="form-group">
                  <label for="RealizedProceeds">Realized Proceeds</label>
                  <input name="RealizedProceeds" type="text" class="form-control" placeholder="0" value="{{ .RealizedProceeds }}"  required autofocus>
               </div>
               <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
               <a href="/home" class="other-form text-center">Home</a>
               </form>
         </div>
      </div>
   </div>
</section>
{{end}}