{{define "content"}}
<section class="bg-light" id="news">
   <div class="container">
      <a href="/viewinvestment?id={{.Investment.ID}}" class="au-btn au-btn-icon au-btn--blue2">Back to Dashboard</a>
      <h3 class="section-heading text-uppercase">Add News for {{.Investment.StartupName}} </h3>
      {{if .Existing }}
      <div class="row">
         <table class="table">
          <tbody>
            {{range .Existing }}
            <tr>
             <th scope="row">{{.ID}}</th>
             <td>{{.FormattedNewsDate}}</td>
             <td>{{ .Title }}</td>
             <td>{{ .Status }}</td>
             <td><a class="btn btn-sm btn-outline-danger" href="/removenews?id={{.ID}}&Investment_ID={{ $.Investment.ID }}" role="button"> Remove </a>
             <a class="btn btn-sm btn-outline-primary" href="/editNews?id={{.ID}}&Investment_ID={{ $.Investment.ID }}" role="button"> Update </a>
             <!--  <a class="btn btn-sm btn-outline-warning" href="/publishNews?id={{.ID}}&Investment_ID={{ $.Investment.ID }}" role="button"> Publish </a>  -->          
            </td>
           </td>
            </tr>
            {{end}}
          </tbody>
        </table>
      </div>
      {{end}}
      <div class="row">
         <div class="col-lg-4">
              <form class="form-signup-login form-investment" method="post" action="/addNews">
              <input type="hidden" name="id" id="id" value="{{.News.ID}}">
               <input type="hidden" name="Investment_ID" id="Investment_ID" value="{{.Investment.ID}}">
               <div class="form-group">
                <label for="Status">Status</label>
                 <select class="form-control" id="Status" name="Status">
               <option value="PERFORMANCE_BELOW_TARGET">Performance Below Target</option>
               <option value="PERFORMANCE_ON_TARGET" selected>Performance On Target</option>
               <option value="PERFORMANCE_ABOVE_TARGET">Performance Above Target</option>
               <option value="POOR_PERFORMANCE">Poor Performance</option>
               <option value="ACQUIRED_OR_SOLD">Acquired Or Sold</option>
               </select>
               </div>
               <label for="NewsDate">News Date</label>
               <div class="input-group date" data-provide="datepicker-inline">
                  <input type="text" id="NewsDate" name="NewsDate" value="{{ .News.NewsDate }}" class="form-control" required autofocus>
                  <div class="input-group-addon">
                  <i class="fa fa-calendar" aria-hidden="true"></i><span class="glyphicon glyphicon-th"></span>
                  </div>
               </div>
               <div class="form-group">
                <label for="Title">Title</label>
                <input name="Title" type="text" class="form-control" placeholder="Title" value="{{ .News.Title }}"  autofocus>
                </div>
         </div>
      </div>
      <div class="row">
      <div class="col-lg-12">
      <textarea id="summernote" name="News">{{ .News.News }}</textarea>
      </div> 
    </div>
      <button class="au-btn au-btn-icon au-btn--blue2" type="submit">Add</button>
      </form>
      </div>
   </div>
</section>
{{end}}