{{define "content"}}
<div class="container">
   <div class="text-center">
      <span class="fa-stack fa-5x has-badge" data-count="{{.Count}}">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-bell fa-stack-1x fa-inverse"></i>
      </span>
      <h2 class="text-center">Unread Messages</h2>
   </div>
   {{if .Existing}}
   <table class="table table-hover">
      <tbody>
        <thead>
            <tr>
             <td>News Title</td>
             <td>Publish Date</td>
            </tr>
          </thead>
         {{range .Existing }}
         <tr id="{{.ID}}" class="js-clickable">
            <td>{{ .Title }}</td>
            <td>
               {{.FormattedNewsDate}}
            </td>
         </tr>
         {{end}}
      </tbody>
   </table>
   {{end}}
</div>
{{end}}