{{define "content"}}

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Multi-Region fund strategy</h1>
          <p class="lead text-muted">Yeah, do something here</p>
          <p>
            <a href="/newinvestment" class="btn btn-success my-2">Add New Investment</a>
            <a href="/logout" class="btn btn-primary my-2">Back to Home</a>
            <!-- <a href="#" class="btn btn-secondary my-2">Secondary action</a> -->
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            {{range .Investments }}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <a href="{{ .Website }}" ><img class="card-img-top" src="{{.LogoPath}}" alt="{{.StartupName}}"></a>
                <div class="card-body">
                  <p class="card-text">{{.Description}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a class="btn btn-sm btn-outline-secondary" href="/viewinvestment?id={{.ID}}" role="button">Dashboard</a>
                    </div>
                    <small class="text-muted">{{.Industry}}</small>
                  </div>
                </div>
              </div>
            </div>
            {{end}}
            <!-- img/portfolio/gva.png 
              img/portfolio/cm.png
            img/portfolio/of.png
          img/portfolio/ow.png
        img/portfolio/sl.png
      img/portfolio/of.png
    img/portfolio/pj.png-->
          </div>
        </div>
      </div>
    {{end}}