{{define "content"}}
      {{if .CurrentUser.Admin }}
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Investment Portfolio</h1>
          <p class="lead text-muted">Access to Investment Reports</p>
          <p>
            <a href="/newinvestment" class="btn btn-primary my-2">Add New Investment</a> <a href="/fundingreqs" class="btn btn-primary my-2">Funding Requests</a>  <a href="/contributions" class="btn btn-primary my-2">Investor Contributions</a>
          </p>
        </div>
      </section>
      {{end}}
      <div class="album py-5 bg-light">
        <div class="row">
          <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body bg-primary" >
                  <h1 class="jumbotron-heading">Total Raised</h1>
                  <p class="card-text"><h5><i class="fa fa-dollar fa-4x ">1,480,000</i></h5></p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body bg-success">
                  <h1 class="jumbotron-heading">Total Committed</h1>
                  <p class="card-text"><h5><i class="fa fa-dollar fa-4x ">1,025,000</i></h5></p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow" >
                <div class="card-body bg-warning">
                  <h1 class="jumbotron-heading">Follow-on Reserve</h1>
                  <p class="card-text"><h5><i class="fa fa-dollar fa-4x ">175,000</i></h5></p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body bg-success">
                  <p class="card-text"><h5><i class="fa fa-tachometer fa-4x ">Portfolio</i></h5></p>
                  <div class="d-flex justify-content-between align-items-center">
                    Artificial Intelligence 4, Cyber Security 2, SaaS 2, Medical Device 1, India 1, App 1, Agriculture 2 
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body bg-info">
                  <h1 class="jumbotron-heading">Total Invested</h1>
                  <p class="card-text"><h5><i class="fa fa-dollar fa-4x ">875,000</i></h5></p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body bg-primary">
                  <h1 class="jumbotron-heading">Expense Reserve</h1>
                  <p class="card-text"><h5><i class="fa fa-dollar fa-4x ">59,233.28</i></h5></p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="album py-5 bg-white">
        <div class="container">
          {{if .CurrentUser.Admin }}
          <div class="row">
            {{if .Pending }}
            <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Pending Investments</h2>
            </div>
            </div>
          <div class="row">
            {{range .Pending }}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <a onclick='newTab("{{.Website}}")'><img class="card-img-top" src="{{.LogoPath}}" alt="{{.StartupName}}"></a>
                <div class="card-body">
                  <p class="card-text">{{.Description | safeHTML}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a class="btn btn-sm btn-info" href="/viewinvestment?id={{.ID}}" role="button">Investor Dashboard</a>
                    </div>
                    <small class="text-muted">{{.Industry}}</small>
                  </div>
                </div>
              </div>
            </div>
            {{end}}
            {{end}}
          </div>
          <div class="row">
            {{if .Archive }}
            <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Archived Investments</h2>
            </div>
            </div>
          <div class="row">
            {{range .Archive }}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <a onclick='newTab("{{.Website}}")'><img class="card-img-top" src="{{.LogoPath}}" alt="{{.StartupName}}"></a>
                <div class="card-body">
                  <p class="card-text">{{.Description | safeHTML}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a class="btn btn-sm btn-info" href="/viewinvestment?id={{.ID}}" role="button">Investor Dashboard</a>
                    </div>
                    <small class="text-muted">{{.Industry}}</small>
                  </div>
                </div>
              </div>
            </div>
            {{end}}
            {{end}}
          </div>
          {{end}}

          {{if .Investments}}
          <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Current Investments</h2>
            </div>
          </div>
           <div class="row">
            {{range .Investments }}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <a onclick='newTab("{{.Website}}")'><img class="card-img-top" src="{{.LogoPath}}" alt="{{.StartupName}}"></a>
                <div class="card-body">
                  <p class="card-text">{{.Description | safeHTML}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a class="btn btn-sm btn-info" href="/viewinvestment?id={{.ID}}" role="button">Investor Dashboard</a>
                    </div>
                    <small class="text-muted">{{.Industry}}</small>
                  </div>
                </div>
              </div>
            </div>
            {{end}}
            {{end}}
          </div>
        </div>
      </div>
    </div>
      {{end}}