{{define "content"}}
<!--  -->
{{if .Error }}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Error!</strong> {{.Error}}
</div>
{{end}}

<section class="bg-light" id="signup">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 text-center">
            <h2 class="section-heading text-uppercase">Seminar Signup</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
          <form class="form-signup-login form-signup" method="post" action="/seminar">
          <input name="Email" type="email" class="form-control" pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/' placeholder="Email" required autofocus>
          <input name ="Phone" class="form-control tel" pattern='^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,3})|(\(?\d{2,3}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$' type="tel" value="555-555-5555" id="Phone">
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
        </form>
          </div>
        </div>
      </div>
    </section>
{{end}}