{{define "content"}}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>3Lines Venture Capital</title>
      <!-- Bootstrap core CSS -->
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom fonts for this template -->
      <link href="vendor/font-awesome/css/all.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" media="print">
      <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css' media="print">
      <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css' media="print">
      <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css' media="print">
      <!-- date picker end  -->
      <!-- Custom styles for this template -->
      <link href="css/agency.min.css" rel="stylesheet">
      <!-- Favicon.ico -->
      <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
      <link rel="manifest" href="img/favicon/site.webmanifest">
      <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
      <meta name="msapplication-TileColor" content="#00a300">
      <meta name="theme-color" content="#ffffff">
         <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback1&render=explicit" async defer>
    </script>
   </head>
   <body id="page-top">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
         <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="img/logo.png" alt="3Lines"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav text-uppercase ml-auto">
                  <!-- <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                     </li> -->
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="/#about">About</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="/#portfolio">Portfolio</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="appl">Apply</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="/#team">Team</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="/#blog">News & Blogs</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="/login">Investors</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="http://www.mentorbaba.co" target="_blank">mentorBaba</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="/#contact">Contact</a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
         <section id="contact">
            <div class="container">
            <div class="row">
               <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Funding the Future of Work Webinar<br>
                  10 AM MDT on Tuesday, May 12th, 2020</h2>
                  <div class="intro-lead-in text-primary text-center">(Family Offices Investors Or Fund Of Funds Only)</div>
               </div>
               
               <div class="intro-lead-in"></div>
               <div class="intro-lead-in"></div>
            </div>
            <div class="row">
            </div>
      <form id="rsvpForm" name="rsvpForm" method="post" action="/rsvp">
      <div class="row">
      <div class="col-lg-12">
      <div class="row">
        <div class="col-md-6">
                <p style="color:White;">
               3Lines Venture Capital invests in exceptional founders and startups working on broad disruptive themes around the Future of Work, AI enabled enterprises, and Industry 4.0. Future workforces will be untethered with a mix of real and virtual collaborative global workspaces. The corporation of the future is an AI-assisted organization with nearly half of the business decisions powered by machine learning or cognition engines. </p>
               <p style="color:White;">
               The current pandemic environment is providing both an early glimpse into the future of work and the need for radically evolved collaboration tools. 3Lines Venture Capital has developed an investment platform and an active cross-border (USA/INDIA) deal flow environment of startups ready to ride the technology curve and disrupt the incumbents, they call the “Rocket Fund.” In this webinar, 3Lines will provide more details on their Rocket Fund and how it will leverage the opportunities for today’s new work environment.</p>
              
      </div>
      <div class="col-md-6">
      <div class="form-group">
      <input class="form-control" id="FullName" type="text" placeholder="Full Name *" required data-validation-required-message="Please enter your full name.">
      <p class="help-block text-danger"></p>
      </div>
      <div class="form-group">
      <input class="form-control" id="Email" type="email" placeholder="Your Email *" required data-validation-required-message="Please enter your email address.">
      <p class="help-block text-danger"></p>
      </div>
      <div class="form-group">
      <input class="form-control" id="Phone" type="tel" pattern='^(\d{10}|\d{11}|\d{12})$' placeholder="Phone Maximum 12 Digits.  No + or - format" required data-validation-required-message="Maximum 12 Digits in a Phone Number including Country Code. No (+) or (-) Sign Reqired for International.">
      <p class="help-block text-danger"></p>
      </div>
      <div class="form-group">
      <input class="form-control" id="CompanyName" type="text" placeholder="Company Name *" required data-validation-required-message="Please enter your company name.">
      <p class="help-block text-danger"></p>
      </div>
      <div class="clearfix"></div>
      <div class="clearfix"></div>
      <div id="g-recaptcha2"class="g-recaptcha"></div>
      <div id="successRSVP"></div>
      <button id="rsvpButton" class="btn btn-success btn-xl text-uppercase" type="submit">RSVP</button>
      </div>
      </form>
      </div>
      </div>
      </div>
      </section>
      <section class="py-5" id="start">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase text-left">Event Calendar</h2>
          </div>
        </div>
      </div>

      <div class="agenda">
        <div class="table-responsive">
            <table class="table table-condensed table-bordered ">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Invite Only Event</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Single event in a single day -->
                     <tr>
                        <td class="agenda-date" class="active" rowspan="1">
                            <div class="dayofmonth">1</div>
                            <div class="dayofweek">Saturday</div>
                            <div class="shortdate text-muted">June, 2019</div>
                        </td>
                        <td class="agenda-time">
                            6:00 PM - 9:00PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="glyphicon glyphicon-repeat text-muted" title="Repeating event" disabled></i>Investor Meet</br>
                                4201 Wallis Ranch Drive, Dublin, CA 94568</br>
                                <a href="https://docsend.com/view/kvgkgsp"><button class="btn btn-success btn-md text-uppercase js-scroll-trigger" type="submit" disabled>Checkout Details & RSVP</button></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-date" class="active" rowspan="1">
                            <div class="dayofmonth">25</div>
                            <div class="dayofweek">Sunday</div>
                            <div class="shortdate text-muted">May, 2019</div>
                        </td>
                        <td class="agenda-time">
                            6:00 PM - 9:00PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="glyphicon glyphicon-repeat text-muted" title="Repeating event" disabled></i>Dallas NATS Investor Private Party</br>
                                Irving Convention Center</br>
                                <a href=""><button class="btn btn-success btn-md text-uppercase js-scroll-trigger" type="submit" disabled>Checkout Details & RSVP</button></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-date" class="active" rowspan="1">
                            <div class="dayofmonth">22</div>
                            <div class="dayofweek">Wednesday & Thursday</div>
                            <div class="shortdate text-muted">May, 2019</div>
                        </td>
                        <td class="agenda-time">
                            3:00 PM - 9:00PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="glyphicon glyphicon-repeat text-muted" title="Repeating event"></i>New York Family Office Event</br>
                                </br>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-date" class="active" rowspan="1">
                            <div class="dayofmonth">18</div>
                            <div class="dayofweek">Saturday</div>
                            <div class="shortdate text-muted">May, 2019</div>
                        </td>
                        <td class="agenda-time">
                            6:00 PM - 9:00PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="glyphicon glyphicon-repeat text-muted" title="Repeating event"></i>Atlanta Investor Meet & Seminar Event</br>
                                </br>
                                <a href="https://docsend.com/view/hsfw47a"><button class="btn btn-success btn-md text-uppercase js-scroll-trigger" type="submit" disabled>Checkout Details & RSVP</button></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-date" class="active" rowspan="1">
                            <div class="dayofmonth">10</div>
                            <div class="dayofweek">Friday</div>
                            <div class="shortdate text-muted">May, 2019</div>
                        </td>
                        <td class="agenda-time">
                            6:00 PM - 9:00PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="glyphicon glyphicon-repeat text-muted" title="Repeating event"></i>NewYork Investor Meet & Private Dinner</br>
                                Midtown Manhattan
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-date" class="active" rowspan="1">
                            <div class="dayofmonth">9</div>
                            <div class="dayofweek">Thursday</div>
                            <div class="shortdate text-muted">May, 2019</div>
                        </td>
                        <td class="agenda-time">
                            7:00 PM - 9:00PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="glyphicon glyphicon-repeat text-muted" title="Repeating event"></i>Denver Investor Meet & Private Dinner</br>
                                </br>
                                6585 Greenwood Plaza Blvd, Greenwood Village, CO 80111</br>
                                <a href="https://docsend.com/view/jtr986t"><button class="btn btn-success btn-md text-uppercase js-scroll-trigger" type="submit" disabled>Checkout Details & RSVP</button></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-date" class="active" rowspan="1">
                            <div class="dayofmonth">4</div>
                            <div class="dayofweek">Saturday</div>
                            <div class="shortdate text-muted">May, 2019</div>
                        </td>
                        <td class="agenda-time">
                            6:00 PM - 9:00PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="glyphicon glyphicon-repeat text-muted" title="Repeating event"></i>Denver Investor Meet & Seminar Event</br>
                                FANUM AMG Trust Bank</br>
                                6295 Greenwood Plaza Blvd, Greenwood Village, CO 80111</br>
                                <a href="https://docsend.com/view/84i7eu3"><button class="btn btn-success btn-md text-uppercase js-scroll-trigger" type="submit" disabled>Checkout Details & RSVP</button></a>
                            </div>
                        </td>
                    </tr>
                   <tr>
                        <td class="agenda-date" class="active" rowspan="1">
                            <div class="dayofmonth">27</div>
                            <div class="dayofweek">Saturday</div>
                            <div class="shortdate text-muted">April, 2019</div>
                        </td>
                        <td class="agenda-time">
                            6:00 PM - 9:00PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="glyphicon glyphicon-repeat text-muted" title="Repeating event"></i>Irvine, Los Angeles Investor Meet & Seminar Event</br>
                                4241 MacArthur Blvd, Newport Beach, CA 92660</br>
                                <a href="https://docsend.com/view/ps33mgh"><button class="btn btn-success btn-md text-uppercase js-scroll-trigger" type="submit" disabled>Checkout Details & RSVP</button></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-date" class="active" rowspan="1">
                            <div class="dayofmonth">21</div>
                            <div class="dayofweek">Sunday</div>
                            <div class="shortdate text-muted">April, 2019</div>
                        </td>
                        <td class="agenda-time">
                            4:00 PM - 7:00PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="glyphicon glyphicon-repeat text-muted" title="Repeating event"></i>Dallas Investor Meet & Seminar Event</br>
                                @HILLTOP</br>
                                8350 N MACARTHUR BLVD #190, IRVING, TX 75063</br>
                                <a href="https://docsend.com/view/ugm8twy"><button class="btn btn-success btn-md text-uppercase js-scroll-trigger" type="submit" disabled>Checkout Details & RSVP</button></a>
                            </div>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
    </section>
      <!-- Footer -->
      <footer>
         <div class="container">
            <div class="row">
               <div class="col-md-4">
                  <span class="copyright">Copyright &copy; 3Lines 2019</span>
               </div>
               <div class="col-md-4">
                  <ul class="list-inline social-buttons">
                     <li class="list-inline-item">
                        <a href="http://twitter.com/threelinesus">
                        <i class="fab fa-twitter"></i>
                        </a>
                     </li>
                     <li class="list-inline-item">
                        <a href="http://facebook.com/threelinesus">
                        <i class="fas fa-facebook"></i>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </footer>
      <!-- Bootstrap core JavaScript -->
      <script src="vendor/jquery/jquery.min.js"></script>
<!--       <script src="vendor/bootstrap/js/popper.min.js"></script> -->
      <script src="vendor/bootstrap/js/bootstrap.bundle.js"></script>
      <!-- Plugin JavaScript -->
      <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
      <!-- Contact form JavaScript -->
      <script src="js/jqBootstrapValidation.js"></script>
      <script src="js/contact_me.js"></script>
      <!-- Custom scripts for this template -->
      <script src="js/agency.min.js"></script>
      <script src="js/appl.js"></script>
      <script src="js/rsvp.js"></script>
      <!-- date picker start  -->
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-77741671-1"></script>
      <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());

         gtag('config', 'UA-77741671-1');
      </script>
   </body>
</html>
{{end}}
