{{define "content"}}
<section class="bg-light" id="viewinvestment">
      <div class="container-fluid">
      <div class="row">
         <form class="form-signup-login form-investment" method="post" action="/add">
         <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Investment Dashboard </h2>
         </div>
         <a href="/portfolio" class="btn btn-primary my-2">Back to Portfolio</a>
      </div>
       {{if .CurrentUser.Admin }}
       <a class="btn btn-sm btn-outline-secondary" href="/editinvestment?id={{.Investment.ID}}" role="button"> Update Investment</a>
       <a class="btn btn-sm btn-outline-secondary" href="/newinvestmentstructure?Investment_ID={{.Investment.ID}}" role="button"> Update Investment Structure</a>
       <a class="btn btn-sm btn-outline-secondary" href="/newcapitalstructure?Investment_ID={{.Investment.ID}}" role="button"> Update Capital Structure</a>
       <a class="btn btn-sm btn-outline-secondary" href="/newfinancials?Investment_ID={{.Investment.ID}}" role="button"> Update Financial Results</a>
       <a class="btn btn-sm btn-outline-secondary" href="/news?Investment_ID={{.Investment.ID}}" role="button">Update News</a>
       {{end}}
        <div class="card-group">
            <div class="card text-white bg-secondary mb-3" style="max-width: 100rem;">
               <div class="card-header"><h3>{{.Investment.StartupName}} Investment Details</h3></div>
               <div class="card-body">
                 <p class="card-text">
                  <div class="table-responsive-md">
                     <table class="table">
                        <tbody>
                           <tr>
                              <th scope="row"></th>
                              <td>Investment Date</td>
                              <td>{{.Investment.InvestmentDate}}</td>
                           </tr>
                           <tr>
                              <th scope="row"></th>
                              <td>Industry</td>
                              <td>{{.Investment.Industry}}</td>
                           </tr>
                           <tr>
                              <th scope="row"></th>
                              <td>Headquarters</td>
                              <td>{{.Investment.Headquarters}}</td>
                           </tr>
                           <tr>
                              <th scope="row"></th>
                              <td>Exit Value at Closing</td>
                              <td>{{.Investment.ExitValueAtClosing}}</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
                  </p>
               </div>
            </div>
            <div class="card text-white bg-secondary mb-3" style="max-width: 100rem;">
               <div class="card-header"></div>
               <div class="card-body">
                  <h5 class="card-title"></h5>
                  <p class="card-text">
                  <div class="table-responsive-md">
                     <table class="table">
                        <tbody>
                           <tr>
                              <th scope="row"></th>
                              <td>Fund Ownership</td>
                              <td>{{.Investment.FundOwnershipPercentage}}</td>
                           </tr>
                           <tr>
                              <th scope="row"></th>
                              <td>Investor Group Ownership</td>
                              <td>{{.Investment.InvestorGroupPercentage}}</td>
                           </tr>
                           <tr>
                              <th scope="row"></th>
                              <td>Management Ownership</td>
                              <td>{{.Investment.ManagementOwnership}}</td>
                           </tr>
                           <tr>
                              <th scope="row"></th>
                              <td>Board Representation</td>
                              <td>{{.Investment.BoardRepresentation}}</td>
                           </tr>
                           <tr>
                              <th scope="row"></th>
                              <td>Board Members</td>
                              <td>{{.Investment.BoardMembers}}</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
                  </p>
               </div>
            </div>
            <div class="card text-white bg-secondary mb-3" style="max-width: 100rem;">
               <div class="card-header"></div>
               <div class="card-body">
                  <h5 class="card-title"></h5>
                  <p class="card-text">
                  <div class="table-responsive-md">
                     <table class="table">
                        <tbody>
                           <tr>
                              <th scope="row"></th>
                              <td>Investment Commitment</td>
                              <td>{{.Investment.InvestmentCommittment}}</td>
                           </tr>
                           <tr>
                              <th scope="row"></th>
                              <td>Invested Capital</td>
                              <td>{{.Investment.InvestedCapital}}</td>
                           </tr>
                           <tr>
                              <th scope="row"></th>
                              <td>Realized Proceeds</td>
                              <td>{{.Investment.RealizedProceeds}}</td>
                           </tr>
                           <tr>
                              <th scope="row"></th>
                              <td>Reported Value</td>
                              <td>{{.Investment.ReportedValue}}</td>
                           </tr>
                           <tr>
                              <th scope="row"></th>
                              <td>Investment Multiple</td>
                              <td>{{.Investment.InvestmentMultiple}}</td>
                           </tr>
                           <tr>
                              <th scope="row"></th>
                              <td>Gross IRR(All Security Types)</td>
                              <td>{{.Investment.GrossIRR}}</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
                  </p>
               </div>
            </div>
         </div>
      </div>
      <div class="card-group">
         <div class="card text-white bg-secondary mb-3" style="max-width: 100rem;">
            <div class="card-header"></div>
            <div class="card-body">
               <h5 class="card-title">INVESTMENT BACKGROUND</h5>
               <p class="card-text">
                  {{.Investment.InvestmentBackground}}
               </p>
            </div>
         </div>
      </div>
      <div class="card-group">
         <div class="card text-white bg-secondary mb-3" style="max-width: 100rem;">
            <div class="card-header"></div>
            <div class="card-body">
               <h5 class="card-title">VALUATION METHODOLOGY</h5>
               <p class="card-text">
                  {{.Investment.ValuationMethodology}}
               </p>
            </div>
         </div>
      </div>
      <div class="card-group">
         <div class="card text-white bg-secondary mb-3" style="max-width: 100rem;">
            <div class="card-header"></div>
            <div class="card-body">
               <h5 class="card-title">RISK ASSESSMENT/UPDATE</h5>
               <p class="card-text">
                  {{.Investment.RiskAssessment}}
               </p>
            </div>
         </div>
      </div>
      <div class="card-group">
         <div class="card text-white bg-secondary mb-3" style="max-width: 100rem;">
            <div class="card-header"></div>
            <div class="card-body">
               <h5 class="card-title">INVESTMENT THESIS</h5>
               <p class="card-text">
                  {{.Investment.InvestmentThesis}}
               </p>
            </div>
         </div>
      </div>
         <div class="card-group">
         <div class="card text-white bg-secondary mb-3" style="max-width: 100rem;">
            <div class="card-header"></div>
            <div class="card-body">
               <h5 class="card-title">FINANCIAL RESULTS</h5>
               {{if .Existing}}
               <p class="card-text">
               <div class="table-responsive-md">
                  <table class="table table-sm table-dark">
                     <thead>
                        <tr>
                           <th scope="col">Reporting Date</th>
                           <th scope="col">Revenue</th>
                           <th scope="col">YOY % Growth</th>
                           <th scope="col">LTM EBITDA</th>
                           <th scope="col">YOY % Growth</th>
                           <th scope="col">EBITDA Margin</th>
                           <th scope="col">Total Exit Value</th>
                           <th scope="col">Total Exit Value Multiple</th>
                           <th scope="col">Total Leverage</th>
                           <th scope="col">Total Leverage Multiple</th>
                        </tr>
                     </thead>
                     <tbody>
                        {{range .Existing }}
                        <tr>
                           <td>{{.ReportingDate}}</td>
                           <td>{{.Revenue}}</td>
                           <td>{{.YoYGrowthPercentage1}}</td>
                           <td>{{.LTMEBITDA}}</td>
                           <td>{{.YoYGrowthPercentage2}}</td>
                           <td>{{.EBITDAMargin}}</td>
                           <td>{{.TotalExitValue}}</td>
                           <td>{{.TotalExitValueMultiple}}</td>
                           <td>{{.TotalLeverage}}</td>
                           <td>{{.TotalLeverageMultiple}}</td>
                        </tr>
                        {{end}}
                     </tbody>
                  </table>
               </div>
               </p>
               {{end}}
            </div>
         </div>
      </div>
         <div class="card text-white bg-secondary mb-3" style="max-width: 100rem;">
            <div class="card-header"></div>
            <div class="card-body">
               <h5 class="card-title">RECENT EVENTS & KEY INITIATIVES</h5>
               {{if .ExistingNews}}
               <p class="card-text">
               <div class="table-responsive-md">
                  <table class="table">
                     <tbody>
                        <tr>
                           <th scope="row">Reporting Date</th>
                           <td>News</td>
                        </tr>
                        {{range .ExistingNews}}
                        <tr>
                           <th scope="row">{{.NewsDate}}</th>
                           <td>{{.News}}</td>
                        </tr>
                        {{end}}
                     </tbody>
                  </table>
               </div>
               </p>
               {{end}}
            </div>
         </div>
      </div>
      <div class="card-group">
         <div class="card text-white bg-secondary mb-3" style="max-width: 100rem;">
            <div class="card-header"></div>
            <div class="card-body">
               <h5 class="card-title">
                  INVESTMENT STRUCTURE
               </h5>
               {{if .ExistingInvestmentStructures}}
               <p class="card-text">
               <div class="table-responsive-md">
                  <table class="table table-sm table-dark">
                     <thead>
                        <tr>
                           <th scope="col">Reporting Date</th>
                           <th scope="col">Investment Structure</th>
                           <th scope="col">Units/Par</th>
                           <th scope="col">Total Invested</th>
                           <th scope="col">Reported Value</th>
                           <th scope="col">Realized Proceeds</th>
                        </tr>
                     </thead>
                     <tbody>
                        {{range .ExistingInvestmentStructures}}
                        <tr>
                           <th scope="row">{{.ReportingDate}}</th>
                           <td>{{.Structure}}</td>
                           <td>{{.Units}}</td>
                           <td>{{.TotalInvested}}</td>
                           <td>{{.ReportedValue}}</td>
                           <td>{{.RealizedProceeds}}</td>
                        </tr>
                        {{end}}
                     </tbody>
                  </table>
               </div>
               </p>
               {{end}}
            </div>
         </div>
         <div class="card text-white bg-secondary mb-3" style="max-width: 100rem;">
            <div class="card-header"></div>
            <div class="card-body">
               <h5 class="card-title">
                  CAPITALIZATION STRUCTURE
               </h5>
               {{if .ExistingCapitalStructures}}
               <p class="card-text">
               <div class="table-responsive-md">
                  <table class="table table-sm table-dark">
                     <thead>
                        <tr>
                           <th scope="col">Reporting Date</th>
                           <th scope="col">Capitalization</th>
                           <th scope="col">Closing</th>
                           <th scope="col">Year End Value</th>
                        </tr>
                     </thead>
                     <tbody>
                        {{range .ExistingCapitalStructures}}
                        <tr>
                           <th scope="row">{{.ReportingDate}}</th>
                           <td>{{.Capitalization}}</td>
                           <td>{{.ClosingValue}}</td>
                           <td>{{.YearEndValue}}</td>
                        </tr>
                        {{end}}
                     </tbody>
                  </table>
               </div>
               </p>
               {{end}}
            </div>
         </div>
      </div>
      </div>
      </div>
{{end}}