<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>3Lines Venture Capital</title>
      <!-- Bootstrap core CSS -->
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom fonts for this template -->
      <link href="vendor/font-awesome/css/all.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" media="print">
      <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css' media="print">
      <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css' media="print">
      <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css' media="print">
      <!-- Custom styles for this template -->
      <link href="css/agency.min.css" rel="stylesheet">
   </head>
   <body id="page-top" onload="javascript:window.location.href='#start';">
      <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="img/logo.png" alt="3Lines"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <!-- <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                     </li> -->
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="appl">Apply</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#team">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#blog">News & Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#investors">Network</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="http://www.mentorbaba.co">mentorBaba</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
      <!-- Header -->
      <header class="masthead">
        <div class="container">
            <div class="intro-text">
              <div class="intro-lead-in">Three Lines (Capital, Time and Growth) </div>
                <div class="intro-heading">Investments
                Beyond Rockies</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="appl">Apply for Seed Funding Here!</a>
            </div>
        </div>
    </header>
     
<div id="start" class="container">
<div class="row">
<div class="col-lg-12 mx-auto">
<div class="modal-body">
<!-- Project Details Go Here -->
<h2 class="text-uppercase">3Lines Unbound</h2>
<p>3Lines is a Denver based Venture Capital firm laser-focused on investing in early stage technology companies. Very often, our Limited Partners and the Entrepreneurs ask us- what are the three lines in 3Lines? <b>We say, ‘Ah, it’s like 1,2,3. Time, Capital and Growth, these are the three lines. Or, said differently, it’s the S-curve of the venture capital world! At the bottom of an S-curve it feels like not much is happening at all. Once a startup crosses an inflection point, suddenly capital investment starts growing wild.</b> We raise capital from our limited partners and we scout, screen and invest that capital in carefully culled and curated startup companies. Over time, we help grow those startup companies with the help from our network of no less than technology gurus, the brain heavyweights, the folks who know Software, Artificial Intelligence, Machine Learning, IoT, CyberSecurity, Blockchain, Software Defined Networking and Enterprise Applications ! 
</p>

<div class="row">
<div class="col-md-4">
   <div class="thumbnail">
      <img src="img/s.png" alt="s-curve" style="width:100%">
      <div class="caption">
         <p>S-curve significance</p>
      </div>
   </div>
</div>
<div class="col-md-8">
   <div class="thumbnail">
      <img src="img/money-network.png" alt="map" style="width:100%">
      <div class="caption">
         <p>Money and Mind Network</p>
      </div>
   </div>
</div>
</div>
<div class="row">

</div>
<p>We invest largely in the US across growth oriented select industries but also keep our sight on India as well where we do not want to miss out on a rapidly growing startup ecosystem and where, for example, the number of unicorns has gone up to 24 from just 1 in a short span of six years! We have built a portfolio of 17 early stage companies with a projected MOM of of 2X.</p>

<p>When we talk about winning and success, we are very clear. We speak of three major factors, the three T’s- the Team, the Thesis and the Traction. We have built a strong team of General Partners and the Deal Screening Council; we are vectored along a unique investment thesis and, with our very first exit in just over eighteen months of investment, 3Lines has begun to ‘tread with traction’ as well! 
</p>

<p>Now you know what those three lines in 3Lines are.  We hope you become a part of our globally growing ‘money and mind’ network and meet us @ our next pitch event. <a href="https://www.3Lines.vc/appl">Apply Here</a> !</p>

         </div>
      </div>
   </div>
</div>

      <!-- Footer -->
      <footer>
         <div class="container">
            <div class="row">
               <div class="col-md-4">
                  <span class="copyright">Copyright &copy; 3Lines 2019</span>
               </div>
               <div class="col-md-4">
                  <ul class="list-inline social-buttons">
                     <li class="list-inline-item">
                        <a href="http://twitter.com/threelinesus">
                        <i class="fab fa-twitter"></i>
                        </a>
                     </li>
                     <li class="list-inline-item">
                        <a href="http://facebook.com/threelinesus">
                        <i class="fas fa-facebook"></i>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </footer>
      <!-- Bootstrap core JavaScript -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- Plugin JavaScript -->
      <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
      <!-- Contact form JavaScript -->
      <script src="js/jqBootstrapValidation.js"></script>
      <script src="js/contact_me.js"></script>
      <!-- Custom scripts for this template -->
      <script src="js/agency.min.js"></script>
   </body>
</html>