{{define "content"}}
      <div id="start" class="container">
         <div class="row">
            <div class="col-lg-8 mx-auto">
               <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Secret Sauce to Investing in Successful Artificial Intelligence(AI) Startups</h2>
                  <p class="item-intro text-muted"></p>
                  <p class="item-intro text-muted"><em>The first few paragraphs are a must read to understand the thinking behind Machine Learning.</em>&nbsp;<em>The impatient may skip&nbsp;</em><strong><em>The Primer</em></strong><em>&nbsp;and start at&nbsp;</em><strong><em>The Core</em></strong><em>.</em></p>
<p>My father was my&nbsp;mathematics and science teacher in high school. For many years, I have worked as a software engineer and tried my best to solve business problems using various programming languages including my latest pick Go language. About 7 years ago, I have read a great book on Machine Learning - An Algorithmic Perspective by Stephen Marsland. About 6 years ago, I have taken an introduction to data science course by Mr. Andrew Ng and programmed few models in Octave and Python languages. Confused reading, hold on, heading straight to the point.</p>
<p>After reading the first paragraph, the immediate probabilistic outcomes from the reader (<strong>reader's brain</strong>) could be.</p>
<ul>
   <li>Assuming this blog is a boring and appears like Krishna's bio not about investments and close the browser.</li>
   <li>Assuming Krishna knows or doesn't know machine learning and close the browser.</li>
   <li>Stop reading the blog as the first paragraph and the title are not relevant</li>
   <li>Continue reading further to understand how venture capital investors make investment decisions on a machine learning startup</li>
   <li>Checkout our portfolio startups on our website at https://3lines.vc&nbsp;</li>
</ul>
<p>What happened in the reader's brain in the last 30 seconds prior to the this paragraph was that reader's brain has collected the facts that I gave out in the first paragraph, supplied those facts to thousands of neurons in reader's brain, built many parallel decision networks, applied the human biases(ex:he knows a lot more than me or he doesn't know much), validated with other experts (engineers or scientists or investors from reader's network) and came to one of those decision points. Any additional facts would influence in various other outcomes. For a patient reader, reader's brain might have suggested to read the first two paragraphs again and learned the errors in the understanding of Krishna and improved it by reading further.</p>
<p>To simplify, the human decision making process was</p>
<ol>
   <li>Supply input data points to the brain(training)</li>
   <li>Apply biases(adding weights)</li>
   <li>Create a decision unit(activation functions)</li>
   <li>Test outcomes (compare with known successful results)</li>
   <li>Validate Results (compare with few random people)</li>
   <li>Reduce errors and improve accuracy of learning rate.</li>
   <li>Generalize - Try to understand Krishna. Good luck (:-:)</li>
</ol>
<p>A very similar process is used by scientists to solve various problems, many startups are building businesses around those problems and trying to make Millions of dollars. The goal of this blog is what are some of the core aspects that might influence an investment decision or learning for a startup to focus. I have talked to many of data scientists as part of technical due diligence and spent time understanding their experiences and if the path to solving a problem is in the right direction. This blog is purely from our observations of 100s of Machine Learning startups and comparing them with 1000s of others in the market.</p>
<h2><strong>The Core:</strong></h2>
<p>At 3Lines Venture Capital, we would classify the Artificial Intelligence or Machine Learning startups into mainly three buckets(there are many but scope is small) and have invested in one or more in each classification.</p>
<ol>
   <li>&nbsp;<strong>AI Vision</strong>&nbsp;(GeoVisual Analytics, RoadBotics and another stealth mode startup).AI vision is advancing much faster as it has been used for years and evolved. Thanks to Autonomous/Self-Driving car industry, it's is a major contributor to libraries. Many startups are making faster progress in this space than other AI Startups.</li>
   <li>&nbsp;<strong>AI Speech to Text&nbsp;</strong>(SoprisHealth, Audvisor). Amazon Alexa and Google Home have driven lot of innovation here in terms of parsing voices to text and building good Natural Language Programming libraries to derive context from a conversation. Many startups are able to apply them faster with those pre-built networks or models. The market adoption is still at an early stage.</li>
   <li>&nbsp;<strong>AI Business&nbsp;</strong>(CaliberMind, WattLearn (We worked a lot with the scientist but was acquired prior to us investing). We are seeing many of these startups at very good maturity scale due to the increase in corporate internal R&amp;D budgets to improve efficiency of existing tools/processes. This is becoming a lot harder from a business context to demonstrate the value for buying an AI based tool vs existing alternatives. This also needs lot of external software system/process integrations to provide value.</li>
</ol>
<p>The most important aspect for any business survival and disruption is the barrier to entry that stops others from doing the same thing. The top most barriers for Machine Learning startups from a 3Lines Investment point of view are</p>
<p><strong>The Humans :</strong>&nbsp;I know that many might have thought about Azure or Amazon cloud costs or sales costs. It is very difficult to find a great scientist that have applied knowledge (Many of them were hired by Google, Amazon, Facebook, Microsoft and others). This is still an issue but has significantly lowered in the last 2-3 years as there are more grads coming out with this data science background and this is international phenomena as well.</p>
<p><strong>The Tools and Resources:</strong>&nbsp;This is relatively lower compared to a few years ago. The evolution of many robust frameworks like Tensor Flow(Google), Microsoft Cognitive Toolkit, Torch, Keras, etc. These frameworks have some packaged libraries to train quickly and reach at a good prediction sooner. Investors need to pay attention to this carefully because the pre-trained networks could help build a good minimum viable product faster but may not be good indicators of the real prediction outcome. There are startups that are trying to build applications using these tools to claim innovation as well but the barrier is low for applications and needs lot of money to commercialize.</p>
<p><strong>The Data:</strong>&nbsp;This aspect is the most expensive task in a startup journey that includes preparation, processing, and reducing dimensions that influence the learning. This is the biggest barrier and is increasing every day with more unstructured data. The key elements involved in understand the innovation are</p>
<ul>
   <li><strong>Size of the input dataset:</strong>&nbsp;It could be just a matrix of pixels for&nbsp;<em>AI Vision</em>&nbsp;companies or number of voice memos for a&nbsp;<em>AI Speech to Text</em>&nbsp;company or the number of data integrations for an&nbsp;<em>AI Business</em>&nbsp;company. It's very important to understand the split ratios for training, testing and validation. It's also important to know how the scientist arrived at that ratio. It&rsquo;s not important to have a very big data set to get good accuracy.</li>
   <li><strong>Data Collection Challenges</strong>:&nbsp;At 3Lines, we have observed an average of 18 months for each good company to overcome the challenges of collecting the right data and preparation that can be used in good prediction models. One of the biggest challenges is identifying or reducing the dimensions that can be used to yield to low percentage errors in predicting. Asking the scientists about this gives an estimate time to production and costs involved with go-to-market.</li>
   <li><strong>Accuracy of the Algorithms:&nbsp;</strong>This is just like a ball rolling under gravity. The weights of the network are trained so that the error goes downhill until it reaches a local minimum. Refer to the picture at the bottom. Accuracy must be compared with the existing alternatives. A 60% accuracy is good in some cases but a 90% accuracy is also not good in other cases. The lower the learning/predicting error relative to comparable alternatives means the higher the success of a startup as well.</li>
</ul>
<p><strong>Supporting Cast</strong>&nbsp;: A very strong business team that can overlap and understand science challenges well enough and translate to great solutions that make money. A very supportive engineering team to execute and deliver. A lot of non-dilutive capital along with private capital and also tax incentives are also necessary in some industries like Healthcare to make progress.</p>
<p>There are hundreds of factors that help in building a good decision unit. Venture Capital Investor decision units are not any different. Some of these AI techniques might help study investor mindset as well as used by investors in the future to make decisions. 3Lines is very ready for that day to reduce our error rate in our investment decisions. Like in every learning, we can't jump into conclusions quickly to make smart decisions. Honestly there is no secret sauce.</p>
<p>Please reach us out to grab a coffee if you are data scientist and solving a world changing problem.</p>
<p><strong>We are humans and We can make anything possible.&nbsp;</strong>(<em>This statement is to help humans and confuse all the LinkedIn, Twitter, Facebook bots that are trying to track me and understand me to make a future sale</em>)</p>
<img src="img/blog8.png" alt="AIError">
               </div>
            </div>
         </div>
      </div>
{{end}}
