<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>3Lines Venture Capital</title>
      <!-- Bootstrap core CSS -->
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom fonts for this template -->
      <link href="vendor/font-awesome/css/all.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" media="print">
      <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css' media="print">
      <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css' media="print">
      <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css' media="print">
      <!-- Custom styles for this template -->
      <link href="css/agency.min.css" rel="stylesheet">
   </head>
   <body id="page-top" onload="javascript:window.location.href='#start';">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink" id="mainNav">
         <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="img/logo.png" alt="3Lines"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav text-uppercase ml-auto">
                  <!-- <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                     </li> -->
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="/#about">About</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="/#portfolio">Portfolio</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="/#team">Team</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="/#blog">Blog</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="http://www.mentorbaba.co">mentorBaba</a>
                    </li>
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="/#contact">Contact</a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
      <!-- Header -->
      <header class="masthead">
        <div class="container">
            <div class="intro-text">
              <div class="intro-lead-in">Three Lines (Capital, Time and Growth) </div>
                <div class="intro-heading">Investments
                Beyond Rockies</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="appl">Apply for Seed Funding Here!</a>
            </div>
        </div>
    </header>
     
<div id="start" class="container">
<div class="row">
<div class="col-lg-12 mx-auto">
<div class="modal-body">
<!-- Project Details Go Here -->
<h2 class="text-uppercase">Is Bear Market a Big Opportunity for Startups and Early-Stage Investors?</h2>
<p>Yes. There has been a lot of discussions on public forums about the bear market, and a much bigger recession. As a startup founder or an investor should you worry about these? The general answer is no, as the secular downturns approximately last for 18 months and a lot of unicorns are born during these times. However, should you plan better for it? Yes. The people tied to the startup ecosystem are already very high risk-takers with a good perspective of seeing challenges as opportunities. In bear markets recruiting gets less competitive and top talents can be brought in if the startup has a good runway. </p>
<div class="row">
<p><b>Here is why a Seed through Series-B startup should pay attention: </b></br>
Research study shows that the top two reasons why startups fail are: </p>
</div>
<p>a) <b>There is no market need for a product/service created by a startup.</b> This is the time customers get very picky about spending and all the fads go away really fast. This creates room for products/services that are very well vetted with customers, long researched solutions for hard problems standout. However, history shows that great companies can be born in these down market situations. Startups only have a chance in these markets when they understand the consumers' problems and offer a good solution for them.</p>

<p>I had my own startup experience with an online food delivery service software. I had the full software ready in 2006/2007 but the market need was not clear. Zomato, a company with a similar idea, started in 2008 in India, survived the downturn and became a unicorn. There are many great examples described in the chart below that is born in bear markets and survived the downturn.
</p>
<div class="row">
<div class="col-md-6">
   <div class="thumbnail">
      <img src="img/blog121.png" alt="uncorns_bearmarket" style="width:100%">
      <div class="caption">
         <p> Unicorns Born in Bear Markets</p>
      </div>
   </div>
</div>
</div>
<p>b) <b>Startups running out of cash.</b> Any smart startup CEO is always ahead by 6 months to a year and they're on top of the capital needs. The best startups are agile, lean, and build smart plans to protect the core and focus to serve customers at lower prices. We all know planning is guessing. Let us say a startup is caught up in the down market cycle. During secular downturns, corporations look for innovation-driven efficiency improvements. The best way to come out of this is to build more partnerships or collaborations that lower the cost of service to your customers. This is the time to move up very high-risk technical features in the sprints.</p>

<p>There are certain things that can be done proactively as well before the down cycle. In the good markets, the entrepreneur picks the investor but it's the opposite in bad markets. When an entrepreneur has the choice to pick investors in the first and second fund-raises, be good and generous about adding a few investors that are very strong champion believers of the idea that can mentor greatly but can only invest small amounts or have smaller networks. In difficult times a startup team needs strong moral support more than anything else and a lot of times that comes from the champion believers. Be smart about adding good investors to your cap table. </p>

<p><b><u>Here is why an early stage investors should pay attention:</u></b></p>

<p>When the public markets are in an upswing, crowdsourcing and many other sources of capital are available to startups and market gets competitive for private investors in terms of deal valuation. In some cases, private capital and the due diligence processes around capital raise appear nonsensical. In the down markets, it is a big opportunity for early-stage investors every investor goes conservative. This is the time for the smart investors to be patient in choosing good companies and doing the due diligences at 2-3x faster.</p>

<p>The bear market forces the less prepared startups into down rounds and the investor market is loaded with a lot of deals that are gone bad. An approach of picking a new startup with a fully vetted product-market fit, and a robust scaling plan might be easy and a good choice. The main reason for this is a large amount of time and the due diligence required to close a down round deal compared to a new startup. This green fields strategy might cause some good misses but gives the option to invest in what an investor believes in vs a money deal.</p>

<p>This is the time when most big-check investors do small things and it is a really big opportunity for small-check investors to do big things.</p>

<p><b>At 3Lines, we try our best 100% of our time to practice everything that we preach. These are the founding principles along with Trust and Transparency which exist at the core of our every communication. 
</b></p>

         </div>
      </div>
   </div>
</div>




      <!-- Footer -->
      <footer>
         <div class="container">
            <div class="row">
               <div class="col-md-4">
                  <span class="copyright">Copyright &copy; 3Lines 2019</span>
               </div>
               <div class="col-md-4">
                  <ul class="list-inline social-buttons">
                     <li class="list-inline-item">
                        <a href="http://twitter.com/threelinesus">
                        <i class="fab fa-twitter"></i>
                        </a>
                     </li>
                     <li class="list-inline-item">
                        <a href="http://facebook.com/threelinesus">
                        <i class="fas fa-facebook"></i>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </footer>
      <!-- Bootstrap core JavaScript -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- Plugin JavaScript -->
      <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
      <!-- Contact form JavaScript -->
      <script src="js/jqBootstrapValidation.js"></script>
      <script src="js/contact_me.js"></script>
      <!-- Custom scripts for this template -->
      <script src="js/agency.min.js"></script>
   </body>
</html>