<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>3Lines Venture Capital</title>
      <!-- Bootstrap core CSS -->
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom fonts for this template -->
      <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" media="print">
      <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css' media="print">
      <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css' media="print">
      <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css' media="print">
      <!-- Custom styles for this template -->
      <link href="css/agency.min.css" rel="stylesheet">
   </head>
   <body id="page-top" onload="javascript:window.location.href='#start';">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink" id="mainNav">
         <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="img/logo.png" alt="3Lines"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav text-uppercase ml-auto">
                  <!-- <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                     </li> -->
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="/#about">About</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="/#portfolio">Portfolio</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="/#team">Team</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="/#blog">Blog</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="http://www.mentorbaba.co">mentorBaba</a>
                    </li>
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="/#contact">Contact</a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
      <!-- Header -->
      <header class="masthead">
        <div class="container">
            <div class="intro-text">
              <div class="intro-lead-in">Three Lines (Capital, Time and Growth) </div>
                <div class="intro-heading">Investments
                Beyond Rockies</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="appl">Apply for Seed Funding Here!</a>
            </div>
        </div>
    </header>
      <div id="start" class="container">
         <div class="row">
            <div class="col-lg-8 mx-auto">
               <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">India AgriTech Startups</h2>
                  <p class="item-intro text-muted">Startups are a New Gateway to Large Indian Agriculture Market</p>
                  <p class="item-intro text-muted">I am learning great things about Indian AgriTech market through our pilot accelerator program in Delhi for pan India startups. Jindal Stainless hosted us with collaboration from other Indian giants like UPL, TATA Steel. Colorado Rockies venture club angel investment community members came here to help the startups. Japanese VC company ANEW Holdings brought in SMEs from Japan to collaborate. </p>
                  <p class="item-intro text-muted">Every one travelled to India to collaborate on the program, agreed that the startups are a new gateway to the market. Opportunities for these startups in India are very big despite a very fragmented in nature and micro farming.  </p>
                  <p class="item-intro text-muted">There are many existing distribution channels for seed, fertilizer, farmer produce procurement, retailers but many of them are missing the most essential growth aspects like new way of solving problems, courage to attempt, conservative to invest. This is where the startups are playing a key role. </p>
                  <p class="item-intro text-muted">Advanced AgriTech from countries like USA, Japan, and Germany is looking to find new markets. Indian market traditionally supported profitable agri businesses but not a disruptive where there is huge loss towards growth in the early stages. It’s very difficult to procure farm produce due to quality/storage issues where as it’s easy to sell for cheap. There are many procurement startups are already coming to win the trust of farmers with additional advisory or pre-processing services. There is no single source of truth in terms of farm and field data. This provides great opportunities for advanced tech to take advantage by making young social entrepreneurs as partners to expand.</p>
                  <p class="item-intro text-muted">Farmer Income to Debt ratio is very high and there is great amount of pressure on local government agencies to help farmers using advanced tech. There are historic amount of agreements signed by government agencies & corporates with small startups on progressive support. Early movers into corporate farming failed miserably due to unreliable enforcement in agreements. This gave the room for startups to use other support services to farmers and attract to sell the produce to them. </p>
                  <p class="item-intro text-muted">Labor shortage due to government welfare programs and social status issues. This is creating room for advanced machine tech from outside to enter into the market. Outside world to India market penetration is challenging. Any small or big partner would improve chances. One or more start-up partners is a best choice in the stage of validation. Aadhar system is also helping in brining farmers into banking system and hence loan repayment improvements. I have attended World Food Event and AgriTech summits and looked at many countries participated. India appears to be a very attractive destination for the investors to pursue their venture through these new startups as a channel gateway. </p>
                  <ul class="list-inline">
                     <li>Date: November 2017</li>
                     <li>Krishna Kunapuli, General Partner, 3Lines Venture Fund</li>
                     <li>Category: Agrticulture</li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <!-- Footer -->
      <footer>
         <div class="container">
            <div class="row">
               <div class="col-md-4">
                  <span class="copyright">Copyright &copy; 3Lines 2018</span>
               </div>
               <div class="col-md-4">
                  <ul class="list-inline social-buttons">
                     <li class="list-inline-item">
                        <a href="http://twitter.com/threelinesus">
                        <i class="fa fa-twitter"></i>
                        </a>
                     </li>
                     <li class="list-inline-item">
                        <a href="http://facebook.com/threelinesus">
                        <i class="fa fa-facebook"></i>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </footer>
      <!-- Bootstrap core JavaScript -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- Plugin JavaScript -->
      <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
      <!-- Contact form JavaScript -->
      <script src="js/jqBootstrapValidation.js"></script>
      <script src="js/contact_me.js"></script>
      <!-- Custom scripts for this template -->
      <script src="js/agency.min.js"></script>
   </body>
</html>