{{define "content"}}
     
<div id="start" class="container">
<div class="row">
<div class="col-lg-12 mx-auto">
<div class="modal-body">
<!-- Project Details Go Here -->
<h2>3Lines Leads $4M Pre-Series A Investment Round in Vetty</h2>
<div class="row">
<div class="col-sm-4">
   <div class="thumbnail">
      <img src="img/blog161.JPG" alt="best research" style="width:100%">
      <div class="caption">
         <p></p>
      </div>
   </div>
</div>
</div>
<p>
  <strong>New York, NY</strong> – Vetty, a fast growing provider of an Artificial Intelligence based employee verification platform for gig-economy marketplaces and enterprises announced it is raising a Pre-Series A round of financing of $4M USD. 3Lines Venture Capital, a previous investor in the company, will be leading this round by upping its own target investment of $1M USD. Krishna Kunapuli, a General Partner at 3Lines, will join the Vetty Board of Directors.</p>
  <br>
<p>
  The Pre-Series A financing builds on a successful year for Vetty which saw a rapidly growing roster of clients seeking a frictionless background screening option for verifying potential employees in the highly-fragmented background verification market in the United States. Vetty is primed to capture market share in its fast growing industry sector by using these funds to grow sales and accelerate development of the platform. Vetty’s customers include industry leading companies such as Wag!, Bellhop and MASTERCLASS. 3Lines Venture Capital, based out of Denver, Colorado, invests in AI-enabled and disruptive software technology based startup companies in the Future of Work, Worker and the Workplace. 
</p>
<br>
<p>
“As an industry, we’re just scratching the surface of the background verification market,” Subrat Nayak, Founder and CEO of Vetty said. “We are working hard to truly dominate this fast-growing market and 3Lines has been more than an investor for us. They have created tremendous value by bringing in their expertise in the AI-enabled tech startup world and guiding us to steer clear of the pitfalls, and more importantly, working with us on formulating key business strategies. We are confident, with their expertise helping to guide us, that we will continue to find success.”  
</p>
<br>
<p>
“Subrat's deep knowledge in the HR space, paying attention to details, patience in building the core, and his focus in capital efficiency puts him in the top one percent of very successful entrepreneurs,” 3Lines Venture Capital General Partner Krishna Kunapuli said. “Vetty is a powerful solution for this recently emerging industry and we are looking forward to working closely with the Vetty team as they work to build a great company in an exciting category.”  
</p>
<br>
<h3 >About 3Lines</h3>
<p>
3Lines Venture Capital (https://3lines.vc) is a venture capital firm based out of Denver, Colorado, investing in AI-enabled and disruptive software technology based startup companies in the Future of Work, Worker and the Workplace. Since its inception in 2016, 3Lines has built a portfolio of twenty early stage companies in the US and India and is currently targeting to close on it’s second fund of $50M USD.
</p>
<br>
<h3 >About Vetty</h3>
<p>
  Vetty (https://vetty.co), based out of New York City, is an Artificial Intelligence based employee verification platform for gig-economy marketplaces and enterprises to proactively manage hiring risks and enforce regulatory compliance. Vetty is a fast-growing early stage company in the highly-fragmented background verification market of $20B in the US, where the top 10 companies hold only 25 percent of the market share. 
</p>
DATE:   May 25, 2020
CONTACT:  Amy Veloz/amy@excitepr.com
Hoping to meet us? <a href="https://www.3Lines.vc/appl">Apply Here</a> !</p>

         </div>
      </div>
   </div>
</div>
{{end}}