<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>3Lines Venture Capital</title>
      <!-- Bootstrap core CSS -->
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom fonts for this template -->
      <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" media="print">
      <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css' media="print">
      <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css' media="print">
      <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css' media="print">
      <!-- Custom styles for this template -->
      <link href="css/agency.min.css" rel="stylesheet">
   </head>
   <body id="page-top" onload="javascript:window.location.href='#start';">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink" id="mainNav">
         <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="img/logo.png" alt="3Lines"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav text-uppercase ml-auto">
                  <!-- <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                     </li> -->
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="/#about">About</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="/#portfolio">Portfolio</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="/#team">Team</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="/#blog">Blog</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="/#contact">Contact</a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
      <!-- Header -->
      <header class="masthead">
        <div class="container">
            <div class="intro-text">
              <div class="intro-lead-in">Three Lines (Capital, Time and Growth) </div>
                <div class="intro-heading">Investments
                Beyond Rockies</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="appl">Apply for Seed Funding Here!</a>
            </div>
        </div>
    </header>
     
<div id="start" class="container">
<div class="row">
<div class="col-lg-12 mx-auto">
<div class="modal-body">
<!-- Project Details Go Here -->
<h2 class="text-uppercase">Page 37: Five Essential Elements for Raising Growth Capital</h2>
<p>Before taking a dive into valuing startups, it would be a good idea to have a look at their lifecycle (Fig 1). Like any other business and its markets, customers, products and services, startups have a life cycle of their own as well. Hundreds, if not thousands, of brain waves are born every day and die every day just like the songs in a shower or bubbles in the bathtub. Neurons go about doing their ‘job’- neuronal networks get constructed, deconstructed and also destructed of their own volition and synapses get fired up much more frequently and unknowingly than those which get registered on our memory shelf. Out of hundreds of these daily brain waves with short or no shelf-life, there are some ideas, some songs, some bubbles,</p>
<div class="row">
<div class="col-md-6">
   <div class="thumbnail">
      <img src="img/blog111.png" alt="top20reasons" style="width:100%">
      <div class="caption">
         <p> Figure 1: Top 20 Reasons Startups Fail (Source: CBInsights)</p>
      </div>
   </div>
</div>
</div>
<p>First of all, let us bring a bi-directional perspective in capital raising: <b>Is the Startup Founder chasing Capital or Investors’ Capital is chasing a great Startup?</b> A better way to pose this question would be: is a startup eagerly chasing investors or the startup referred to investors by a known source, excited about the opportunity and approached the founders? The chances of successfully raising capital is very limited if a startup founder chases capital without building value or meeting milestones. A seasoned investor or a matured venture firm chasing a great startup does happen in few instances. This leads to the question of psychological and behavioral aspects of a founder raising capital or an investor giving money. 
</p>
<p>I am glad to be working with our good spirited partner Mr. Kamalesh Dwivedi. He wrote a deep philosophical book “The Spirit of One”. On page 37, he mentioned a few elements of good spirited human beings and what happens if we don’t put the following five elements in the right place.  1) Mind 2) Attachment 3) Passion 4) Anger 5) Knowledge. </p>

<p><b>Mind:</b> As you can see in Figure 1, there could be many reasons for lack of response by an investor. Everything starts with controlling the mind. Not having control on one’s own mind and asking the capital in desperation leads to wrong timing. A startup founder who has control over his/her mind demonstrates a good sense of patience in the communication to investors. A good spirited founder waits for a positive momentum in the business, showcases the value, talks to a few trusted investors and patiently listens to the investor’s concerns and sensitively communicates back with easily understandable responses.</p> 

<p>A startup founder needs a strong sense of control over mind to not engage in any capital discussion or investment terms with investors even if the investor is sitting across the table or walking in front of him/her at an event. After all, what is the point in communication when the business is not ready or there is no match with the investor? The discussion could be a good tech discussion or a discussion about the market, growth challenges, but not about the capital yet. This good discussion could sometimes lead to good referrals, though. 
</p>

<p><b>Attachment:</b>  Building a great startup involves numerous sacrifices and hardships physically and mentally. The more you work on a startup the more you are attached. This creates an attachment to the business and creates a strong bias. It is good if this bias is understood and positively used and bad if a founder can’t see through the bias which may be clouding his decisions and thus negatively impacting the business. An external perspective is very helpful to bring the thoughts back to reality. I personally treat a super negative investment discussion as a blessing. Removing the attachment in every growth plan, revenue projection or any financial planning leads to great results. </p> 

<p><b>Passion:</b> This element is the driving force that makes all of us do what we believe in. It’s great to demonstrate good passion in capital raising communication. But the problem is that an extreme end of this passion creates a desire in our minds to do things at any cost. It makes us start the conversation with a pre-set expectation of an investor as just money and not as a human being. It might cause setting wrong expectations or can cause misgivings about business prospects or just make the founder act as an extremely coachable person during capital raise phase that is not their true personality. Right after the capital raise, many founders don’t even communicate properly with investors. But tying the passion with good cause or deeper impact to human beings would lead to successful communications in capital raise. 
</p> 

<p><b>Anger:</b> A Founder’s anger or frustration is not shown as a reason in Figure 1.  Our team has talked to many founders in the last 18 months and I have been talking to startups as an angel since 2014. I was a startup guy as well and we treat our venture firm as startup of startups. We believe that  Anger is the true culprit that destroys any human or business. A capital discussion at the wrong time leads to a quick NO answer which causes a heart burn and creates anger. Out of anger anyone can think that the other person is stupid or idiot. This leads to loss of reason and loss of wisdom. Infact, we have seen fits of anger from founders. Some founders hang up the phone or walk away as soon as they received a NO or LATER answer. Some founders use very bad language that hurts the other person deeply.  Seriously, everyone needs to challenge the NO in a polite manner, work hard to make that as a YES. Remove this anger element totally from the system and everything goes well. 
</p> 

<p><b>Knowledge:</b> Lot of capital raise discussions fail due to lack of knowledge on one party or both. It’s a great feeling to think that a startup founder is another Elon Musk or Steve Jobs, but how many of those knowledgeable people this world has seen before them or after them? Not many.  Great communication needs good knowledge and other good spirited aspects as the foundation. It is a founder’s first responsibility to develop the knowledge and use this as a major tool to communicate with investors. Lack of control on any of these good spirited elements could make the whole effort of capital raising go bad and would lead one to end up on the path of the second major reason of a startup’s failure!. 
</p> 

<p>At 3Lines, we try our best 100% of our time to practice everything that we preach. These are the founding principles along with Trust and Transparency which exist at the core of our every communication. 
</p>

         </div>
      </div>
   </div>
</div>




      <!-- Footer -->
      <footer>
         <div class="container">
            <div class="row">
               <div class="col-md-4">
                  <span class="copyright">Copyright &copy; 3Lines 2018</span>
               </div>
               <div class="col-md-4">
                  <ul class="list-inline social-buttons">
                     <li class="list-inline-item">
                        <a href="http://twitter.com/threelinesus">
                        <i class="fa fa-twitter"></i>
                        </a>
                     </li>
                     <li class="list-inline-item">
                        <a href="http://facebook.com/threelinesus">
                        <i class="fa fa-facebook"></i>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </footer>
      <!-- Bootstrap core JavaScript -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- Plugin JavaScript -->
      <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
      <!-- Contact form JavaScript -->
      <script src="js/jqBootstrapValidation.js"></script>
      <script src="js/contact_me.js"></script>
      <!-- Custom scripts for this template -->
      <script src="js/agency.min.js"></script>
   </body>
</html>