<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>3Lines Venture Capital</title>
      <!-- Bootstrap core CSS -->
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom fonts for this template -->
      <link href="vendor/font-awesome/css/all.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" media="print">
      <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css' media="print">
      <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css' media="print">
      <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css' media="print">
      <!-- Custom styles for this template -->
      <link href="css/agency.min.css" rel="stylesheet">
   </head>
   <body id="page-top" onload="javascript:window.location.href='#start';">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink" id="mainNav">
         <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="img/logo.png" alt="3Lines"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav text-uppercase ml-auto">
                  <!-- <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                     </li> -->
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="/#about">About</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="/#portfolio">Portfolio</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="/#team">Team</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="/#blog">Blog</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="http://www.mentorbaba.co">mentorBaba</a>
                    </li>
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="/#contact">Contact</a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
      <!-- Header -->
      <header class="masthead">
        <div class="container">
            <div class="intro-text">
              <div class="intro-lead-in">Three Lines (Capital, Time and Growth) </div>
                <div class="intro-heading">Investments
                Beyond Rockies</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="appl">Apply for Seed Funding Here!</a>
            </div>
        </div>
    </header>
      <div id="start" class="container">
         <div class="row">
            <div class="col-lg-8 mx-auto">
               <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Monitoring a start-up post investment</h2>
                  <p class="item-intro text-muted"></p>
                  
                  <p class="item-intro text-muted">Micro VC investors with less than $20M capital management are often challenged with managing their time in monitoring large set of portfolio companies. Venture capital investors plan and decide their time involvement to each portfolio company at the following four phases. 1) Analyzing the investment 2) Negotiating the investment terms 3) Growth phase 4) Exit phase where the investment is realized. A good distribution of capital into many companies is required to make good returns.</p>
                  <p class="item-intro text-muted">As an emerging manager, I have been observing patterns from established VC firms like KPC&B and learnings from board observers to my current angel investment portfolio. An active board member position with RepairStorm(www.repairstorm.com), a SaaS start-up, also helped in recognizing the importance of time management to monitor an entrepreneur post investment. Many factors help in making the investment monitoring decision and maintain good relationship between entrepreneur and a VC Investor. I have listed a few here. 1) The company’s need for assistance 2) Venture capital investor’s expertise relative to the company needs 3) Percentage of total fund invested 4) Length of time to profitability 5) Entrepreneur or start-up management’s willingness to take advice 6) Competence of co-investors.</p>
                  <p class="item-intro text-muted">Each investment into a start-up needs a different monitoring approach and some of the above mentioned factors weigh in the decision making process. We are discussing three different VC approaches to have great investment success while maintaining good relationship with the entreprenuer.</p>
                  <p class="item-intro text-muted">Observe from outside : In this approach, investors rely on monitoring through management reports and periodic office visits. Occasionally, VC investors take this approach when the percentage of capital invested in a start-up is very small and when they see other investor board members that are competent. This one reduces the work load for VC investors but less investment success.</p>
                  <p class="item-intro text-muted">Extremely Involved : VC team invests significant portion of the capital and joins the entrepreneur as working partners to grow the company until it’s exited. Micro VC investors are understaffed to dedicate partners committing to one start-up for long time. This approach also reduces higher investment distribution.</p>
                  <p class="item-intro text-muted">Significantly Involved : A middle path of significant involvement gives a greater investment success. Involvement is advisory yet intense in nature with technology decisions, corporate connections, financing contacts, foreign marketing expertise and product line diversifications. This allows VC investors to keep up with pace of the company, intimate familiarity with investments that help in later financings and mergers. Entrepreneur might see this as intrusion of authority. Once trust is established involvement is mutually satisfying things start working and result to higher yield. KPC&B team used this approach in monitoring Sun Microsystems Investment.</p>
                  <p class="item-intro text-muted">Most VC investors take the approach of working hard compared to hiring more staff in handling complex venture investment decisions.</p>
                  <ul class="list-inline">
                     <li>Date: August 2017</li>
                     <li>Krishna Kunapuli, General Partner, 3Lines Venture Fund</li>
                     <li>Category: Venture Capital</li>
                  </ul>
               </div>
            </div>
         </div>
      </div>

      <!-- Footer -->
      <footer>
         <div class="container">
            <div class="row">
               <div class="col-md-4">
                  <span class="copyright">Copyright &copy; 3Lines 2018</span>
               </div>
               <div class="col-md-4">
                  <ul class="list-inline social-buttons">
                     <li class="list-inline-item">
                        <a href="http://twitter.com/threelinesus">
                        <i class="fa fa-twitter"></i>
                        </a>
                     </li>
                     <li class="list-inline-item">
                        <a href="http://facebook.com/threelinesus">
                        <i class="fa fa-facebook"></i>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </footer>
      <!-- Bootstrap core JavaScript -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- Plugin JavaScript -->
      <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
      <!-- Contact form JavaScript -->
      <script src="js/jqBootstrapValidation.js"></script>
      <script src="js/contact_me.js"></script>
      <!-- Custom scripts for this template -->
      <script src="js/agency.min.js"></script>
   </body>
</html>