{{define "content"}}
     
<div id="start" class="container">
<div class="row">
<div class="col-lg-12 mx-auto">
<div class="modal-body">
<!-- Project Details Go Here -->
<h2>3Lines' Invests in Deep Tech Startup Edgetensor</h2>
<div class="row">
<div class="col-sm-3">
   <div class="thumbnail">
      <img src="img/portfolio/edgetensor.png" alt="edgetensor" style="width:100%">
      <div class="caption">
         <p></p>
      </div>
   </div>
</div>
</div>
<p>
  <strong>DENVER, March 9, 2021 /PRNewswire/ </strong> - 3Lines Venture Capital announced today that it is leading the investment in a bridge to Series A round for Dallas,TX, based Edgetensor Technologies, an early stage company pioneering a revolutionary 'AI at the Edge' technology and an end-to-end solution for a mass market deployment, which supports real-time and scalable video applications by processing data locally at the edge.
</p>
  <br>
<p>
  Edgetensor's innovation makes AI affordable and scalable at the edge for automotive, fleets and insurance providers to offer one stop safety solutions, for smart cities to automate parking spaces, monitor access to public and private areas and for Digital Out of Home advertisers to monetize personalization. Top-tier global companies have already deployed Edgetensor's solutions for commercial use.
</p>
<br>
<p>
"We are just scratching the surface of the multi-billion dollar market in the edge computing space," Rajesh Narasimha, Founder and CEO of Edgetensor said. "We are working non-stop to truly lead this fast growing market and we strongly feel that working with 3Lines will add tremendous value in terms of their expertise in the deep tech space.  We look forward to working with 3Lines on formulating key business and growth strategies", Narasimha added.
</p>
<br>
<p>
"The founders' deep knowledge in the AI and IoT space, their approach to solving a very hard problem of building an edge platform first gives them a lead in several application verticals," Krishna Kunapuli, Founder of 3Lines, said.  "Edgetensor delivers a powerful solution that reduces edge processing costs at scale and the 3Lines team is looking forward to helping build a great company in AI at the Edge", Kunapuli added.
</p>
</br>
<h3 >ABOUT Edgetensor</h3>
<p>
Edgetensor (https://edgetensor.com), is a deep tech startup based in Plano, Texas. Edgetensor end to end AI solution is a major breakthrough innovation with a proprietary inference engine at the core of their AI SDK. Edgetensor runs on platforms ranging from low power ARM devices to x64 servers.
</p>
</br>
<h3 >About 3Lines: </h3>
<p>
3Lines Venture Capital (https://3lines.vc) is a venture capital firm based out of Denver, Colorado, investing in AI-enabled and disruptive software technology based startup companies in the Future of work, worker and workplace. Since its inception in 2016, 3Lines has built a multi-regional portfolio of twenty scale-up companies with a projected portfolio revenue of over $100M.
</p>
<br>
DATE:   March 9th, 2021
Hoping to meet us? <a href="https://www.3Lines.vc/appl">Apply Here</a> !</p>

         </div>
      </div>
   </div>
</div>
{{end}}