{{define "content"}}

<div id="start" class="container">
<div class="row">
<div class="col-lg-12 mx-auto">
<div class="modal-body">
<!-- Project Details Go Here -->
<h2 class="text-uppercase">3Lines Unbound</h2>
<p>3Lines is a Denver based Venture Capital firm laser-focused on investing in early stage technology companies. Very often, our Limited Partners and the Entrepreneurs ask us- what are the three lines in 3Lines? <b>We say, ‘Ah, it’s like 1,2,3. Time, Capital and Growth, these are the three lines. Or, said differently, it’s the S-curve of the venture capital world! At the bottom of an S-curve it feels like not much is happening at all. Once a startup crosses an inflection point, suddenly capital investment starts growing wild.</b> We raise capital from our limited partners and we scout, screen and invest that capital in carefully culled and curated startup companies. Over time, we help grow those startup companies with the help from our network of no less than technology gurus, the brain heavyweights, the folks who know Software, Artificial Intelligence, Machine Learning, IoT, CyberSecurity, Blockchain, Software Defined Networking and Enterprise Applications !
</p>

<div class="row">
<div class="col-md-4">
   <div class="thumbnail">
      <img src="img/s.png" alt="s-curve" style="width:100%">
      <div class="caption">
         <p>S-curve significance</p>
      </div>
   </div>
</div>
<div class="col-md-8">
   <div class="thumbnail">
      <img src="img/money-network.png" alt="map" style="width:100%">
      <div class="caption">
         <p>Money and Mind Network</p>
      </div>
   </div>
</div>
</div>
<div class="row">

</div>
<p>We invest largely in the US across growth oriented select industries but also keep our sight on India as well where we do not want to miss out on a rapidly growing startup ecosystem and where, for example, the number of unicorns has gone up to 24 from just 1 in a short span of six years! We have built a portfolio of 17 early stage companies with a projected MOM of of 2X.</p>

<p>When we talk about winning and success, we are very clear. We speak of three major factors, the three T’s- the Team, the Thesis and the Traction. We have built a strong team of General Partners and the Deal Screening Council; we are vectored along a unique investment thesis and, with our very first exit in just over eighteen months of investment, 3Lines has begun to ‘tread with traction’ as well!
</p>

<p>Now you know what those three lines in 3Lines are.  We hope you become a part of our globally growing ‘money and mind’ network and meet us @ our next pitch event. <a href="https://www.3Lines.vc/appl">Apply Here</a> !</p>

         </div>
      </div>
   </div>
</div>

{{end}}
