{{define "content"}}
     
<div id="start" class="container">
<div class="row">
<div class="col-lg-12 mx-auto">
<div class="modal-body">
<!-- Project Details Go Here -->
<h2 class="text-uppercase">Entrepreneurial Trends and Disruptive Startups in India, a Snapshot</h2>

<p>
  As investors in multiple regions, including India, we wanted to get an on-the-ground assessment of the Indian entrepreneurial market, the people creating these startups, and the trends and developments fueling their ambitions. 
</p>
<p>
  To this end, and to consider investments in the most promising ones, the 3Lines Management team recently orchestrated startup pitches in key entrepreneurial hubs across India like Bengaluru, Hyderabad, IIT Gandhinagar, IIT Kanpur, and Delhi and met over 200 startups.
</p>
<p>
  This blog post is a draft summary of our findings. Our key takeaways were as follows:
</p>
<p>
  <ul>
  <li>At-large and sector-based efforts, including accelerators and grants, are reducing the barriers for entrepreneurs to create startups, increasing the number of new ventures, and amplifying their disruptive ambitions.There are many choices available for startups with pre-seed money in the range of $30K-$100</li>
  <li>We especially noticed this development in the following areas: Logistics and Supply Chain, Healthcare, Ed Tech, and Industrial (IIoT, Autonomy, and Energy Solutions). </li>
  <li>The primary reasons include (a) rise of the middle class, and (b) regulatory changes such as GST and demonetization, and mandates (e.g., for electronic health records).</li>
  <li>Other sectors, mostly impact oriented like agriculture which are capital intensive are seeing progress but are not currently conducive to VC investments.</li>
  <li>Infrastructure challenges for private investments continue to be problematic.</li>
  </ul>
</p>
<p>We also noticed that while the entrepreneurs are passionate and demonstrate technical excellence there is a lack of effective mentor support for operating and scaling these startups. Further there is a tendency to join accelerators for ‘learning’ as opposed to ‘incubating’. As these accelerators mature, their selection criteria may evolve but for the moment, early stage VCs without a significant mentorship play will be at a disadvantage. The rest of this blog post provides a narrative of the different pitches we organized, the most notable startups, and an expansion of the takeaways we have summarized thus far.</p>
<p>The Supply Chain and Distribution Logistics sector has been talked about for over five years and finally there are very clear and strong market signals now for disruption. Many businesses are trying to find a low cost means to reach urban and rural consumers and compete with online peers. Pharmacy space appears to be one of the very first ones along with the health care sector. </p>
<p>There is a very strong indicator for the services industries with the growing middle class. Many industry verticals like event management, accounting & taxation, IP Video services, fashion tech are expanding really fast by combining digitalization, e-commerce and recording large revenues. Advisory services in agriculture, solar, are growing at a slower pace. Many of these marketplace service business models are capital intensive and the winner may take all. We think AI-based alternatives in automation, customer service and support are not as ready as the digitalization is still at infancy at this time. </p>
<div class="row">
<div class="col-md-12">
   <div class="thumbnail">
      <img src="img/blog144.png" alt="finalists" style="width:100%">
      <div class="caption">
         <p></p>
      </div>
   </div>
</div>
</div>

<p>
  Education is the only means to get out of poverty for many in India for the last five decades and the spending by middle-class has significantly increased on education and a whopping number of 3500 startups with a unicorn like Byju’s is a market signal. Many startups are trying to improve the student experience. 3Lines team has picked a fresh new idea and closely monitoring a startup by two Astrophysicists, BraketLab in this space. Please checkout the following picture with the winners in the best idea category.
</p>
<div class="row">
<div class="col-md-12">
   <div class="thumbnail">
      <img src="img/blog142.png" alt="best ideas" style="width:100%">
      <div class="caption">
         <p></p>
      </div>
   </div>
</div>
</div>
<p>
  Healthcare renovation is happening at a much faster pace than the market pundits have predicted. Government mandate to maintain Electronic Health Records could be one of the prime reasons. A software developed for US healthcare like EPIC can’t be directly applied here and hence there is room for local innovators to disrupt the low cost medical devices, digitalization, and automation. There are hard research problems funded by doctors or doctors themselves jumping into entrepreneur journeys is a great market signal. The next big winner is going to be a company that can collect patient data at a very low cost. Please checkout the following picture with the winners in this category.
</p>

<div class="row">
<div class="col-md-12">
   <div class="thumbnail">
      <img src="img/blog143.png" alt="best research" style="width:100%">
      <div class="caption">
         <p></p>
      </div>
   </div>
</div>
</div>
<div class="row">
</div>
<p>Some really good things are happening in the Industrial Internet of Things, Manufacturing Automation, Autonomous Vehicle Technology, and Electric Vehicles. It’s going to be too early to understand the signals as the Chinese market is not very far to transfer or send their innovations into Indian market by partnering with local companies. Geopolitical or trust issues might delay the market capture by chinese companies in these sectors but it appears that it is inevitable. Please checkout the finalists for funding from many of the areas we talked about. 
</p>

<p>It’s also very important to talk about some key infrastructure challenges as well. There are many feeder college level incubations that are ineffective and not ready for producing the next big innovation. Startups still experience some basic infrastructure issues like certifying investor valuations and recording that info with the corporate affairs ministry that could increase the closing costs. The ground level help that we received from the passionate incubator/accelerator/angel-club operations teams are incredible and we would like to thank each and everyone. Special Thanks to our Investors and Deal Screening Council Members (Mr. Sumanth Channabasappa, Mr. Rajiv Roy and Mr. Sriram Gosala) for keeping up with the pace to followup with many of these startups. 
</p>

<p>Happy Holidays and a Happy New Year!
Hoping to meet us @ our next pitch event. <a href="https://www.3Lines.vc/appl">Apply Here</a> !</p>

         </div>
      </div>
   </div>
</div>
{{end}}