{{define "content"}}
     
<div id="start" class="container">
<div class="row">
<div class="col-lg-12 mx-auto">
<div class="modal-body">
<!-- Project Details Go Here -->
<h2>3Lines' Invests in world’s first AI-driven sensory sciences company Tastry</h2>
<div class="row">
<div class="col-sm-3">
   <div class="thumbnail">
      <img src="img/portfolio/tastry.png" alt="best research" style="width:100%">
      <div class="caption">
         <p></p>
      </div>
   </div>
</div>
</div>
<p>
  <strong>DENVER, February 28, 2021</strong> – 3Lines is pleased to announce that the Rocket Fund has invested in a pre-Series A SAFE note in Tastry, the world’s first AI-driven sensory sciences company based out of California.
</p>
</br>
<p>Tastry has created a patent pending technology bridge between flavor and taste and has invented a disruptive algorithm which lies at the very confluence of Artificial Intelligence and Analytical Chemistry. Its proven technology, which has been featured in Forbes magazine, predicts how sensory based products such as wine, spirits, beverages, coffee, fragrances etc. will be perceived by the taste buds and olfactory organs of consumers and how they will perform in the market.</p>
</br>
<p>With several partnerships in the supply chain, Tastry helps manufacturers in deciding what to make and how to make it; it helps Wholesalers in figuring out what to sell and where to sell it; it enables Retailers in mapping out what to stock and who to market to and it also guides the Consumers what to buy that they will love. It is truly an industry disruptive innovation from an early stage company.</p>

<p>With this investment, 3Lines will be joining the Advisory Board of Tastry as well.</p>
</br>

<h3 >About 3Lines: </h3>
<p>
3Lines Venture Capital (https://3lines.vc) is a venture capital firm based out of Denver, Colorado, investing in AI-enabled and disruptive software technology based startup companies in the Future of work, worker and workplace. Since its inception in 2016, 3Lines has built a multi-regional portfolio of twenty scale-up companies with a projected portfolio revenue of over $100M.
</p>
<br>
DATE:   January 12, 2021
Hoping to meet us? <a href="https://www.3Lines.vc/appl">Apply Here</a> !</p>

         </div>
      </div>
   </div>
</div>
{{end}}