{{define "content"}}
     
<div id="start" class="container">
<div class="row">
<div class="col-lg-12 mx-auto">
<div class="modal-body">
<!-- Project Details Go Here -->
<h2 class="text-uppercase">Why we invested in Arzooo?</h2>

<h3 >About 3Lines</h3>
<p>
3Lines Venture Capital is an early-stage software technology fund. We look beyond the traditional innovation ecosystems to invest in companies and entrepreneurs that are using innovative technologies such as sensing, IoT, virtualization, machine learning, AI, and autonomic computing to bring category-defining new products and services for business software, human capital management, digital health, cybersecurity, and financial technology services. We have made 18 early-stage investments and are currently investing out of our second fund (expected size $50MM). We are looking at innovation ecosystems both in the US and India, with a plan to deploy about 30% of our capital in India using our second fund.
</p>
<h3 >About Arzooo</h3>
<p>
  Arzooo (https://arzooo.com/) is India’s fastest growing B2B e-Commerce platform enabling physical retailers to go digital using their cloud software and digital logistic services. By Dec 2019 the company had onboarded 1500 retailers across five Indian metros and had a good GMV (Gross Merchandise Volume) per month. The company was founded by ex-employees of Flipkart, an online e-commerce platform that saw an investment of $16B (for a 77% ownership stake) by Walmart in May 2018. 
</p>
<h3 >Why we invested?</h3>
<p>
  In the US, we are looking at innovation beyond Silicon Valley as we believe that the valley ecosystem is at a point of diminishing returns for early-stage investors. We also believe that the Indian venture ecosystems are rapidly evolving and our organic efforts over the past four years to get seeded across the Indian innovation ecosystems will provide above-average returns for our investors going forward. </p>
<p>
  Arzooo is a good example of 3Lines deal sourcing techniques and our investment principles. We have taken the entire pre-Series A round with Arzooo. The following summarizes our diligence based upon our investment philosophy and guidelines.
</p>
<p>
  <ul style="padding-left:20px">
  <li><h3 >Fast-growing market </h3><p>Small and medium retail appliances and electronics businesses dominate the Indian market with about 500,000 stores as compared to 2500 large stores nationally. India is also seeing tremendous growth in the supply logistics services industry. This is a $48B annual market with only 7% of the purchases currently being done online. The market is not only significant but is also growing with the Indian economy. Arzooo team has a very good traction and is aggressively adding new markets and new product categories to their virtual inventory. </p>
  </li>
  <li><h3 >Business acquiring scale</h3>A key element we seek in our portfolio companies is their ability to grow revenues faster than the CAPEX requirements. Arzooo's business has inherent economies of scale. While there are fixed costs associated (mostly salespeople on the ground to onboard retailers) when they move to new markets, their backend software is virtually unchanged, and they use the same execution playbook with distributors and logistics services providers. Working to their benefit is also all the investment in the last mile delivery and supply chain logistics companies that enable Arzooo to provide efficient delivery and tracking services to their retailers. </li>
  <li><h3 >Product-market fit</h3>Arzooo proved their product-market fit in their initial five cities roll out (Current GMV per month is a good testimonial). Small and medium stores have limited inventories and store fragmentation prevents volume discounts. Arzooo offers cloud-based virtual inventory solutions to these retailers and uses distributor relationships to help their customers improve margins. Arzooo’s platform enables a friction-less online transition for these retailers. They plan to go from 1500 stores to 5000 stores by 2020 – phenomenal growth that we believe is achievable given their playbook. With more stores and volumes, Arzooo will drive better margins for their business customers with automation and AI enablement.  Arzooo sees horizontal growth coupled with vertical opportunities to offer loyalty programs, store credit facilities, and even Arzooo branded customer experience stores in the future. </li>
  <li><h3 >Core innovation/Ability to execute</h3>Arzooo’s moat comes from their ability to scale and execute. The co-founders, when they were at Flipkart, enabled the e-commerce giant with new big-ticket electronics and appliance product categories.  They have executed very well in the five cities they are in and are raising capital to move into additional markets. The founders understand the Indian e-commerce landscape and the supply chain and distribution logistics very well. They have a repeatable playbook and we expect hypergrowth from this team. </li>
  <li><h3 >Founder friendly </h3>The stark reality is that venture capital will always chase good founders and not the other way around. 3Lines believes that tracking and building relationships with founders earlier in their lifecycle is essential for getting ahead of the deal flow. Given our focus on mentorship, Arzooo founders initially connected almost a year ago when they were still refining the product pitch. This is a good example of our organic relationship-building efforts via the mentorship platform that resulted in us getting an opportunity to participate in a per-Series A round of a hyper-growth company. Arzooo already has investors identified for their Series A and expects to close the round in 2020. If Arzooo growth materializes as expected, this will provide tremendous syndication opportunities for our future LPs, given the size of the current fund and our relationship with the founders. </li>
  </ul>
</p>
<p><h3 >Notes</h3>1. <i>India is in its third phase of the innovation lifecycle, we term it Innovation 3.0. The first wave of technology innovation saw the rise of business process outsourcing companies, mostly around customer support and call center management for the developed markets.  The second wave gave rise to ventures that provided IT and enterprise software implementation and support services, once again mostly to global companies outside of India.  The latest wave of Innovation 3.0 ventures are technology products and SaaS companies for the global markets, including India. We believe this wave will soon turn into a tsunami given the burgeoning Indian consumer segment, the rise of digital identity and payment infrastructure, regulatory and taxation policy changes, and the coming of the age of the Indian startup ecosystems.</i> </p>

Hoping to meet us? <a href="https://www.3Lines.vc/appl">Apply Here</a> !</p>

         </div>
      </div>
   </div>
</div>
{{end}}