{{define "content"}}
     
<div id="start" class="container">
<div class="row">
<div class="col-lg-12 mx-auto">
<div class="modal-body">
<!-- Project Details Go Here -->
<h2>3Lines Leads $750,000 Investment in the Future of Enterprise Startup SignalX</h2>
<div class="row">
<div class="col-sm-6">
   <div class="thumbnail">
      <img src="img/portfolio/signalx.png" alt="best research" style="width:100%">
      <div class="caption">
         <p></p>
      </div>
   </div>
</div>
</div>
<p>
  <strong>Denver, CO</strong> – SignalX, a fast growing and AI-enabled Governance Risk Management and Compliance startup company based out of Hyderabad, India, has raised first institutional capital led by 3Lines Venture Capital. Rajiv Roy, Venture Partner at 3Lines, will join the SignalX Board of Directors.</p>
  <br>
<p>
  With industry regulators seeking increasingly more stringent compliance with laws and regulations and risk management professionals looking for defendable assessments and analysis with a high quality and fast turnaround at an affordable cost. “These professionals are expected to deal with a multitude of regulator data streams to generate defendable risk assessments on counter-parties and third parties. Our Due Diligence AI is purpose-built to help risk professionals across industries execute a broad range of analyses starting from ‘know your business (KYB)’ to meeting enhanced due diligence compliance requirements”, said Govind Balachandran, CEO and the Founder of SignalX.
</p>
<br>
<p>
“SignalX platform is being used by professionals in performing valuations, mergers and acquisitions, insolvency and forensics to serve their customers in India and the US. With this funding, we will be strengthening our core platform and opening up our SaaS application further to enable compliance and risk professionals to leverage AI in running comprehensive analysis and risk assessments with ease, at high speed and with high quality”, added Balachandran.
</p>
<br>
<p>
Rajiv Roy, Venture Partner at 3Lines and a Technology Industry veteran for over four decades with extensive experience in M&A will be joining the Board of Directors at SignalX. “Our investment focus on customer funded growth and AI-powered innovation strongly aligns with the business operations strategy of SignalX”, said Roy.  “I am very happy to be joining the Board of SignalX and am looking forward to working with the leadership team of this already profitable company”, he added.

</p>


<h3 >About 3Lines: </h3>
<p>
3Lines Venture Capital (https://3lines.vc) is based out of Denver, Colorado, investing in AI-enabled and disruptive software technology based startup companies in the Future of Work, Worker and the Workplace. Since its inception in 2016, 3Lines has built a portfolio of twenty early stage companies in the US and India with a projected 2020 portfolio revenue of close to $100M.
</p>
<h3 >About SignalX: </h3>
<p>
SignalX (https://signalx.ai) offers an AI-powered SaaS platform for Corporate Risk and Due Diligence for a comprehensive financial, legal, regulatory and reputational risk analysis on any given target company with a fast turnaround and high quality research capabilities. SignalX is based out of Hyderabad, India. 
</p>
<br>
DATE:   September 14, 2020
Hoping to meet us? <a href="https://www.3Lines.vc/appl">Apply Here</a> !</p>

         </div>
      </div>
   </div>
</div>
{{end}}