{{define "content"}}
      <div id="start" class="container">
         <div class="row">
            <div class="col-lg-8 mx-auto">
               <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Startup Investment Risk Analysis</h2>
                  <p class="item-intro text-muted">3Lines India Impact</p>
                  <p class="item-intro text-muted">3Lines partners Mr. Kamalesh Dwivedi, Mr. Gaurav Kohli and I have traveled across USA, India and listened to hundreds of founders seeking capital, many investors that syndicated with us, great influencers like Mr. John T Chambers(<strong>www.jc2ventures.com/john-chambers/</strong>), and Mr. Kiran C. Patel(<strong>www.nova.edu/patelgift/dr-kiran-c-patel.html</strong>) &nbsp;that believe in India investment opportunities. Here is a summary of our new risk analysis for the benefit of other cross-border investors and entrepreneurs seeking capital.</p>
                  <p>My goal is to discuss some key differentiators in our international/India investment risk analysis and allow others to think about these.</p>
                  <ol>
                     <li>Startup Culture Risk.</li>
                     <li>Customer Acquisition and Retention Risk.</li>
                     <li>Investment Return/Liquidation Risk.</li>
                     <li>Follow-on Investment Risk.</li>
                     <li>Political/Regulatory Risk</li>
                  </ol>
                  <p>I have listed out some of the most commonly analyzed risks by investors across the globe. The degree of risk varies case by case and also is different for each geographic region. There is no scientific method to calculate. Most investors know these very well and no need to analyze them again.</p>
                  <ol>
                     <li>Team Risk</li>
                     <li>Market Risk &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                     <li>Economic/Funding Risk</li>
                     <li>Technology Risk &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                     <li>Competitive Risk &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                     <li>Partner Risks</li>
                     <li>Execution Risk &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                     <li>Financial Risk &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                     <li>Social</li>
                  </ol>
                  <p><strong>Startup Culture Risk:</strong>&nbsp;LOW. This is a big improvement in India.</p>
                  <ul>
                     <li>All of our partners are truly impressed with many risk takers in all corners of merciless Indian seed stage startup market. Energy and passion are at very high levels among&nbsp;<em>PhD students at the elite school IIT Gandhi Nagar</em><strong><em>(https://www.iitgn.ac.in/)</em></strong>&nbsp;or iCreate incubation center in Gujarat<strong><em>(https://icreate.org.in)</em></strong>&nbsp;as well as the likes of early employees of&nbsp;<em>Our Food (</em><strong><em>www.ourfood.co.in</em></strong><em>)</em>&nbsp;team that left lucrative jobs to democratize food processing.</li>
                     <li>This is intuitive analysis of understanding the support from founding team&rsquo;s family and personal financial strength to run a multi-year company. Big news here is the change that happened over the last 3-5 years in India. College grads in India are daring to explore new types of career opportunities, parents/family support has increased and average age of marriage among went up by 2-3 years among post graduate population.This is great for startup ecosystem.</li>
                  </ul>
                  <p><strong>Investment Return/Liquidation Risk:</strong>&nbsp;HIGH. This is improving.</p>
                  <ul>
                     <li>Investors can not make money unless a startup is acquired or goes to IPO. There is some good acquisition activity in India but happening based on the percentage of market share at a much later stage. A startup needs to survive with limited growth/risk capital until this stage. This means the chances of exit are very low compared to USA.</li>
                     <li>By waiting for significant market capture by a startup, corporates are missing the opportunity to acquire a very early stage startup with proven scalability model and a patented innovation. This is also a lost opportunity for investors in that startup to recycle the capital.</li>
                  </ul>
                  <p><strong>Customer Acquisition and Retention Risk:</strong>&nbsp;MEDIUM. This has improved.</p>
                  <ul>
                     <li>This risk used to be extremely high due to the nature of fragmented markets. Thanks to Facebook and WhatsApp for the improvement. Large percentage of buyers of any product/service in India are extremely cautious.</li>
                     <li>The number of price based buyers appeared to be more compared to significant value buyers. The customer churn rates are also high due to offers and price based/regional marketing campaigns.</li>
                  </ul>
                  <p><strong>Customer Adoption and Behavior Risk:</strong>&nbsp;HIGH. This is improving.</p>
                  <ul>
                     <li>Many customers mark startup products/services in the least trusted categories and have huge bias towards big brands. This means capital efficiency is a big challenge.</li>
                     <li>There is not much room for error in customer satisfaction. It&rsquo;s very difficult to set proper expectation through mid-junior level sales teams without going through lot of training cost.</li>
                  </ul>
                  <p><strong>Follow-on Funding Risk:&nbsp;</strong>HIGH. This is improving</p>
                  <ul>
                     <li>The investor pool is small and is focused largely on proven models in Series A/B. Trust on legal paperwork is very low and hence investor pool in alternative investment asset class is as low as it can be when compared to the number of high networth individuals. This means that the follow-on capital pool is also small.</li>
                     <li>There is not much room for pivoting a business model. This risk is more between Seed and Series A investment rounds compared to later rounds.</li>
                  </ul>
                  <p><strong>Political/Regulatory Risk:&nbsp;</strong>VERY HIGH. This is not improving</p>
                  <ul>
                     <li>Lot of sectors in India are controlled by government. There is lot of interest in promoting public-private-partnership models but the implementation appears to be very slow. Investors influence, founders network, understanding and connections are very important to bypass this risk very well.</li>
                  </ul>
                  <p><em>3Lines team has a very good understanding of these additional risks and strongly believe in our ability to help build one or two unicorns in the next 5-10 year of time frame.</em></p>
               </div>
            </div>
         </div>
      </div>
{{end}}
