<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>3Lines Venture Capital</title>
      <!-- Bootstrap core CSS -->
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom fonts for this template -->
      <link href="vendor/font-awesome/css/all.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" media="print">
      <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css' media="print">
      <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css' media="print">
      <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css' media="print">
      <!-- Custom styles for this template -->
      <link href="css/agency.min.css" rel="stylesheet">
   </head>
   <body id="page-top" onload="javascript:window.location.href='#start';">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink" id="mainNav">
         <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="img/logo.png" alt="3Lines"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav text-uppercase ml-auto">
                  <!-- <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                     </li> -->
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="/#about">About</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="/#portfolio">Portfolio</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="/#team">Team</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="/#blog">Blog</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="http://www.mentorbaba.co">mentorBaba</a>
                    </li>
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="/#contact">Contact</a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
      <!-- Header -->
      <header class="masthead">
        <div class="container">
            <div class="intro-text">
              <div class="intro-lead-in">Three Lines (Capital, Time and Growth) </div>
                <div class="intro-heading">Investments
                Beyond Rockies</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="appl">Apply for Seed Funding Here!</a>
            </div>
        </div>
    </header>
     
<div id="start" class="container">
<div class="row">
<div class="col-lg-12 mx-auto">
<div class="modal-body">
<!-- Project Details Go Here -->
<h2 class="text-uppercase">How Should Smart Money Value Startups</h2>
<h3>Value is Where A Startup Is</h3>
<p>Before taking a dive into valuing startups, it would be a good idea to have a look at their lifecycle (Fig 1). Like any other business and its markets, customers, products and services, startups have a life cycle of their own as well. Hundreds, if not thousands, of brain waves are born every day and die every day just like the songs in a shower or bubbles in the bathtub. Neurons go about doing their ‘job’- neuronal networks get constructed, deconstructed and also destructed of their own volition and synapses get fired up much more frequently and unknowingly than those which get registered on our memory shelf. Out of hundreds of these daily brain waves with short or no shelf-life, there are some ideas, some songs, some bubbles,</p>
<div class="row">
<div class="col-md-12">
   <div class="thumbnail">
      <img src="img/blog101.png" alt="startuplife" style="width:100%">
      <div class="caption">
         <p> Figure 1: From Brain Waves to a Business (Source: 3lines.vc)</p>
      </div>
   </div>
</div>
</div>
<p>which survive to tell a tale and engage the motor actions to create a team, to create a prototype, to build a proof of concept. Many ideas at the proof of concept and prototype stage die because it is discovered they won’t work as imagined or there is no need for it or the idea just ran out a passionate propellant or all of it. </p>
<h3>The Inverted Valuation Pyramid</h3>
<p>Those which pass this ‘prototype gate’ of very high ‘infant mortality rate’, draw attention of Angel Investors and others who want to catch a viable and great idea early enough so that they can make multiples of their money, money over money, which is endearingly addressed as MOM! The question heard in the private capital corridors is not ‘who is your mom, but what is your MOM’. This money over money, this MOM, depends, among other important things, on how much an investor paid to buy a certain amount of a startup’s shares, what level in the ‘inverted valuation pyramid’(Fig 2) the investor inserted himself at? How many shares the founder of a startup was</p>
<div class="row">
<div class="col-md-8">
   <div class="thumbnail">
      <img src="img/blog102.png" alt="Inverted Pyramid" style="width:100%">
      <div class="caption">
         <p>Figure 2: Inverted Valuation Pyramid (Source: 3lines.vc)</p>
      </div>
   </div>
</div>
</div>
<p>willing to give up and for how much? This is where the question pops up- what is the value of a startup or, more appropriately, what should be the value? There is no track record, no historical performance data. How do you value your startup if you are the founder? How do you value a startup if you are going to invest in it? Of course, as a founder, you want to give away as few shares as possible for as much money as you can get and, if you are an investor, you want to buy as many shares as possible with as little money as you can get away with! This constructive tension with deep disagreements on valuation between a founder and investors during several rounds of fundraising lasts as long as the startup does not get privately sold or does not go for an initial public offering, that is if the startup has successfully navigated myriads of mortifying encounters on the way to an exit.</p>
<h3>The Law of Averages and Valuation</h3>
<p>The average valuation at the seed round is slightly higher than $5M in the higher cost regions of the US and it’s around $3M in the lower cost regions (Fig 3). Even though founded in San Francisco, it’s worthy to note that the seed round of Uber was valued at only $3.86M, a company which is preparing for an IPO at a rumored valuation of $120B. With a spread of more than 50%</p>
<div class="row">
   <div class="col-md-8">
      <div class="thumbnail">
         <img src="img/blog103.png" alt="Lawofaverages" style="width:100%">
         <div class="caption">
            <p>Figure 3: Average Valuation Across Regions (Source: 3lines.vc)</p>
         </div>
      </div>
   </div>
 </div>
   <p>from the lowest average valuation to the highest, it’s indeed tricky to place a value at the seed round of startups even within the same region and especially when it is coupled with the larger economic environment as was the case in 2009 when Uber was founded. Basing an investment decision on the average in a region and for a particular industry sector may land an investor at a higher point in the inverted valuation pyramid than would be desired. Even using the data for median valuation (Fig 4) could land one at a higher valuation- good for the startup raising the fund but bad for the investors’ MOM in the future.</p>
   <div class="row">
      <div class="col-md-8">
         <div class="thumbnail">
            <img src="img/blog104.png" alt="Median Valuation" style="width:100%">
            <div class="caption">
               <p>(Fig 4: Scale is the Widest Moat)!</p>
            </div>
         </div>
      </div>
    </div>
      <p>In Denver, Colorado, area, one often hears about a $3M valuation for a startup in the seed round and people have come to believe in this number with such a great faith that not many people question how this valuation has been arrived at. Not believing in this average valuation is a tag for a different religion and questioning it is a sure sign of a blasphemous behavior! In the US, where there are only less than ten million individuals with a net worth of a $1 million and more, why anyone should believe in this $3M valuation for a startup which is still climbing down in the ‘valley of death’ or is firmly perched in the ‘valley of death’? </p>
      <p>From an investor point of view and in the context of a 90%+ infant mortality rate for startups, the 10% or less of an investor’s investments have to carry the ball and give a healthy MOM. For example, for a $10M investment across several startups, $9M of investments might turn out to be a dud. The remaining $1M will need to turn into $30M for a MOM of three, which could be a huge and, sometimes, an impossible climb up and climb out! When Y Combinator buys 6% of a startup for $15K-$20K for a post-money valuation of $250K-333K or when Techstars buys 6% stake or $120K, why another investor should believe in an average valuation and go for investing at a $3M entry point? The founders, on the other hand, following the path of an average valuation, might end up giving away too many shares for too little money and dilute their ownership more than they need to. No one benefits by the law of average valuation.</p>
      <h3>The Smart Money Valuation Model </h3>
      <p>The smart money is called ‘smart’ because there is a reason- it does not believe in the law of averages or in ‘the law of the herd’. Just because an Angel Investment Club in your region has somehow arrived at a valuation number for pre-seed and another one for the seed round, should bear no influence on another investor’s decision. Just because they have collectively</p>
      <div class="row">
         <div class="col-md-8">
            <div class="thumbnail">
               <img src="img/blog105.png" alt="SharkTank" style="width:100%">
               <div class="caption">
               </div>
            </div>
         </div>
       </div>
         <p>decided to behave like a true ‘angel of the dictionary’ should not restrain an investor from behaving like the guys and girls on the Shark Tank. What about a 30% stake for $100K or $50K? It is your hard earned money and, because of the life stage you may be at, time may not be your friend as is the case for the majority of Angel investors with almost 70% of them 50 years of age or older (ACA study, 2017). Are the folks on the Shark Tank constructing a rapid financial model on the show and calculating a valuation? Not really. The smart money valuation is what the smart money makes it out to be! 
            </p>
         <div class="row">
            <div class="col-md-12">
               <div class="thumbnail">
                  <img src="img/blog106.png" alt="30-Point" style="width:100%">
                  <div class="caption">
                     <p>Figure 5: A 30-Point Value Check-up (Source: 3lines.vc)</p>
                  </div>
               </div>
            </div>
          </div>
            <p>Although several investment clubs behave that way, Angel investment is not about being angelic, it is about making money and so it is with all other investments. Smart money gets it, dumb money does not. For those investors and their General Partners who are not on the Shark Tank and for those who have not built out a vast network of ‘money and mind’ like YC and Techstars have done, it is worth to go back to the basics. Those very basics are six things- Revenue, Net Income, EBITDA, Operating Cashflow, Debt and Equity Investments. If there are more than these six things to look at and talk about, they will be highlighted in the process of detailed due diligence when the scanning-electron microscope is set at the maximum magnification and the telescopic vision of General Partners will be vectored at the right constellation. </p>
            <p>A 30-point value check-up along these six basic ‘money dimensions’ over five years will help generate the J-curve and also a wealth of information to produce a range of likely valuation for a startup as is the case for a company which has been operating for many years. A 3-year data set could show up some non-linearity, however, it takes almost three years for a startup to show initial signs of coming out of the valley of death or of perpetually being and staying there. It is very important to understand all the non-linearity, so a financial projection over a 5-year period is very important to lay one’s hands on. </p>
            <p>“It is the nonlinearity which gets you, partner, not the linearity”, the smart money knows it very well. After understanding the information gathered from the 30-point value check and the J-curve, wisdom of the ‘Shark Tank-ers’ will certainly dawn upon all Angels!</p>
         </div>
      </div>
   </div>
</div>




      <!-- Footer -->
      <footer>
         <div class="container">
            <div class="row">
               <div class="col-md-4">
                  <span class="copyright">Copyright &copy; 3Lines 2019</span>
               </div>
               <div class="col-md-4">
                  <ul class="list-inline social-buttons">
                     <li class="list-inline-item">
                        <a href="http://twitter.com/threelinesus">
                        <i class="fas fa-twitter"></i>
                        </a>
                     </li>
                     <li class="list-inline-item">
                        <a href="http://facebook.com/threelinesus">
                        <i class="fas fa-facebook"></i>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </footer>
      <!-- Bootstrap core JavaScript -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- Plugin JavaScript -->
      <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
      <!-- Contact form JavaScript -->
      <script src="js/jqBootstrapValidation.js"></script>
      <script src="js/contact_me.js"></script>
      <!-- Custom scripts for this template -->
      <script src="js/agency.min.js"></script>
   </body>
</html>