{{define "content"}}
     
<div id="start" class="container">
<div class="row">
<div class="col-lg-12 mx-auto">
<div class="modal-body">
<!-- Project Details Go Here -->
<h2>3Lines' Portfolio Company Our Food Signs $200M MOU with Telangana State of India</h2>
<h3>Setting Up 20,000 Micro Food Processing Units</h3>
<div class="row">
<div class="col-sm-3">
   <div class="thumbnail">
      <img src="img/portfolio/of.png" alt="best research" style="width:100%">
      <div class="caption">
         <p></p>
      </div>
   </div>
</div>
</div>
<p>
  <strong>DENVER, March 14, 2021 /PRNewswire/</strong> –  3Lines' Fund I portfolio company, Our Food Pvt Ltd, has announced today that they have signed a memorandum of understanding with the government of Telangana to set up over 20,000 micro food processing units across the State with a cumulative investment of more than $200M.
</p>
  <br>
<p>
  Farming entrepreneurs in rural India will be provided with end-to-end solutions for setting up  food processing units such as providing loans from banks, setting up of processing machinery and giving operational training as well. Our Food will also help the farmers to sell their produce to bulk buyers directly or to sell it through the company's brand. This agreement with the government will augment the process of setting up food processing units in the vicinity of the farms and will also generate rural employment and immensely improve farmer's income.
</p>
<br>
<p>
"We have developed eight different machine types to process agricultural produce such as rice, pulses, spices, groundnut, millets, turmeric and a few vegetables. We are looking at setting up 5,000 units per year in the State," said Balareddy, CEO of Our Food. "3Lines Venture Capital has been instrumental in accelerating our growth through seed investment in our journey since 2017 to position the business to scale and would play an important role in raising a $35M equity-cum-debt to further scale the business," Balareddy added.
</p>
<br>
<p>
"Decentralizing the food processing is the future of agri-industry, which is also a very hard problem that needs unmatched execution at the field level and a deep business knowledge. I found this unique blend of a twin skillset in Balareddy and committed to the model's success," said Krishna Kunapuli, Founder of 3Lines. "3Lines India Chairman Mr. Lalit Jalan's deep operational expertise and guidance would be key for the next phase of Our Food's growth," added Kunapuli.
</p>
<br>
<h3 >About Our Food</h3>
<p>
Our Food (https://ourfood.co.in), is a technology driven agribusiness platform that is on a mission to decentralize the food processing industry with an innovative farmer adoption and engagement supply-chain platform, initially in Telangana, Andhra Pradesh, Madhya Pradesh, Maharashtra and Karnataka states of India.</p>
<br>
<h3 >About 3Lines: </h3>
<p>
3Lines Venture Capital (https://3lines.vc) is a venture capital firm based out of Denver, Colorado, investing in AI-enabled and disruptive software technology based startup companies in the Future of work, worker and workplace. Since its inception in 2016, 3Lines has built a multi-regional portfolio of twenty scale-up companies with a projected portfolio revenue of over $100M.
</p>
<br>
DATE:   March 14, 2021
Hoping to meet us? <a href="https://www.3Lines.vc/appl">Apply Here</a> !</p>

         </div>
      </div>
   </div>
</div>
{{end}}