{{define "content"}}
     
<div id="start" class="container">
<div class="row">
<div class="col-lg-12 mx-auto">
<div class="modal-body">
<!-- Project Details Go Here -->
<h2>Lalit Jalan, ex-CEO of Reliance Infrastructure, joins as 3Lines India Chairman</h2>
<div class="row">
<div class="col-sm-3">
   <div class="thumbnail">
      <img src="img/team/lalit_jalan_org.jpeg" alt="best research" style="width:100%">
      <div class="caption">
         <p></p>
      </div>
   </div>
</div>
</div>
<p>
  <strong>Denver, CO</strong> – 3Lines Venture Capital has appointed Lalit Jalan as 3Lines India Chairman effective immediately. Lalit Jalan is a visionary business leader in India with a career spanning over four decades growing diverse businesses in Finance, Infrastructure, Power, Telecom, Healthcare, Defense and Entertainment industries. Most recently he was the Chief Executive Officer of Reliance Infrastructure Limited and Group Director of Reliance, one of India’s largest and globally-known business houses. Mr. Jalan is a born-entrepreneur with immense passion for innovation and technology and is undoubtedly one of the most recognizable and respected names in India’s business community. 
</p>
  <br>
<p>
  Mr. Jalan graduated in Electrical Engineering from IIT Kanpur, obtained an MBA from Wharton School of Business and a Masters in Computer Science from the University of Pennsylvania. Mr. Jalan joined Reliance Industries as the Group’s youngest ever CEO in 1995 where he is credited with transformational merger of Bombay Suburban Electric Supply Ltd (BSES) into Reliance Infrastructure and led the phenomenal turnaround of Delhi power distribution business into a world class utility post-privatization in 2002, leading to a savings of over INR 80,000 crores (~USD $1.65B) for the Exchequer. 
</p>
<br>
<p>
“For 3Lines to achieve its vision of being a Venture Capital firm with $1B USD asset under management in this decade, nothing can be a better time than this for Lalit to lead and build 3Lines India as its Chairman'', said Krishna Kunapuli, Founder of 3Lines Venture Capital. “Lalit’s inexorable energy, razor-sharp intellect and vast business experience are going to be invaluable to 3Lines and its portfolio companies in building an expansive capital network and value transformation in portfolio companies ”, added Kunapuli.
</p>
<br>
<p>
“I am excited and honored to join the 3Lines team as the Chairman in India”, said Mr. Jalan. “With more than 40,000 startup companies in India and around 40 Unicorns born in just the past six years, this is the best time to build 3Lines Venture Capital in India’s rapidly growing Innovation Economy”, added Jalan, “I am looking forward to working with the 3Lines team and the portfolio companies to build high value for each of our companies and high returns for our investors.”
</p>
<p>
“I am thrilled that a business leader of Lalit’s caliber will be at the helm of 3Lines India and will lead our efforts from the frontlines in India to vastly expand our Money and Mind Network ”, said Kamalesh Dwivedi, President of 3Lines.
</p>


<h3 >About 3Lines: </h3>
<p>
3Lines Venture Capital (https://3lines.vc) is a venture capital firm based out of Denver, Colorado, investing in AI-enabled and disruptive software technology based startup companies in the Future of work, worker and workplace. Since its inception in 2016, 3Lines has built a multi-regional portfolio of twenty scale-up companies with a projected portfolio revenue of over $100M.
</p>
<br>
DATE:   January 12, 2021
Hoping to meet us? <a href="https://www.3Lines.vc/appl">Apply Here</a> !</p>

         </div>
      </div>
   </div>
</div>
{{end}}