{{define "content"}}
<section id="blog">
      <div id="blog">
      <div class="container">
      <div class="row">
      <div class="col-lg-12 text-center">
      <h2 class="section-heading">News & Blogs</h2>
      <h3 class="section-subheading text-muted"></h3>
      </div>
        </div>
        <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" href="/blog?blogNumber=16">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-newspaper fa-3x"></i>Contact: Amy Veloz/amy@excitepr.com<i class="fas fa-lock-open"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="img/blog161.JPG" alt="brief">
                </a>
                <div class="portfolio-caption" color="white">
                    <h4>3Lines Leads $4M Pre-SeriesA Investment Round in Vetty</h4>
                    <p class="text-muted">New York, NY</p>
                </div>
            </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" href="/blog?blogNumber=15">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>by Dr. Ashish Jain<i class="fas fa-lock-open"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="img/blog151.JPG" alt="brief">
                </a>
                <div class="portfolio-caption" color="white">
                    <h4>Why we invested in Arzooo?</h4>
                    <p class="text-muted">New York, NY</p>
                </div>
            </div>
         <div class="col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="/blog?blogNumber=14">
                  <div class="portfolio-hover">
                      <div class="portfolio-hover-content">
                          <i class="fas fa-plus fa-3x"></i>
                          by Dr. Ashish Jain, Krishna Kunapuli, and Kamalesh Dwivedi<i class="fas fa-lock-open"></i>
                      </div>
                  </div>
                  <img class="img-fluid" src="img/blog141.png" alt="threegps"></img>
              </a>
              <div class="portfolio-caption">
                  <h4>Entrepreneurial Trends and Disruptive Startups in India, a Snapshot</h4>
                  <p class="text-muted">IIT Gandhinagar, India</p>
              </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" href="/blog?blogNumber=12">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>by Krishna Kunapuli<i class="fas fa-lock-open"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="img/blog12.png" alt="bearmarket">
                </a>
                <div class="portfolio-caption">
                    <h4>Is Bear Market a Big Opportunity for Startups and Early-Stage Investors?</h4>
                    <p class="text-muted">Denver, Colorado</p>
                </div>
            </div>
          
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" href="/blog?blogNumber=13">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>by Kamalesh Dwivedi<i class="fas fa-lock-open"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="img/money-network.png" alt="bearmarket">
                </a>
                <div class="portfolio-caption">
                    <h4>3Lines Unbound</h4>
                    <p class="text-muted">Denver, Colorado</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" href="/blog?blogNumber=8">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>by Krishna Kunapuli<i class="fas fa-lock-open"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="img/JohnChambers_Kamalesh.JPG" alt="termsheets">
                </a>
                <div class="portfolio-caption">
                    <h4>Secret Sauce to Investing in Successful Artificial Intelligence(AI) Startups</h4>
                    <p class="text-muted">Denver, Colorado</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.prnewswire.com/news-releases/3lines-venture-capital-successfully-closes-the-first-5m-tranche-of-its-rocket-fund-300908137.html">
                  <div class="portfolio-hover">
                      <div class="portfolio-hover-content">
                          <i class="fas fa-newspaper fa-3x"></i>by CISION PR Newswire
                      </div>
                  </div>
                  <img class="img-fluid" src="img/news1.jpg" alt="rocketfund_close"></img>
              </a>
              <div class="portfolio-caption">
                  <h4>3Lines Venture Capital successfully closes the first $5M tranche of its Rocket Fund</h4>
                  <p class="text-muted">Greenwood Village, Colorado</p>
              </div>
          </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" href="/blog?blogNumber=10">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>by Kamalesh Dwivedi<i class="fas fa-lock-open"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="img/blog10.png" alt="valuation">
                </a>
                <div class="portfolio-caption">
                    <h4>How Should Smart Money Value A Startup</h4>
                    <p class="text-muted">Denver, Colorado</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" href="/blog?blogNumber=11">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>by Krishna Kunapuli<i class="fas fa-lock-open"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="img/blog11.jpg" alt="brief">
                </a>
                <div class="portfolio-caption" color="white">
                    <h4>Page 37: Five Essential Elements for Raising Growth Capital</h4>
                    <p class="text-muted">Denver, Colorado</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" href="/blog?blogNumber=5">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>by Peter Adams<i class="fas fa-lock-open"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="img/termsheet-blog.png" alt="termsheets">
                </a>
                <div class="portfolio-caption">
                    <h4>Ten Reasons to Avoid Convertible Debt</h4>
                    <p class="text-muted">Denver, Colorado</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" href="/blog?blogNumber=9">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>by Kamalesh Dwivedi<i class="fas fa-lock-open"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="img/valley.jpg" alt="valleyofdeath">
                </a>
                <div class="portfolio-caption">
                    <h4>How Great Angel Investors Avoid the Valley of Death</h4>
                    <p class="text-muted">Denver, Colorado</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" href="/blog?blogNumber=7">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>by Krishna Kunapuli<i class="fas fa-lock-open"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="img/OurFoodTeam.jpeg" alt="termsheets">
                </a>
                <div class="portfolio-caption">
                    <h4>Startup Investment Risk Analysis</h4>
                    <p class="text-muted">IIT Gandhinagar, India</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" href="/blog?blogNumber=4">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>by Kamalesh Dwivedi<i class="fas fa-lock-open"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="img/blockchain-blog2.png" alt="blockchain2">
                </a>
                <div class="portfolio-caption">
                    <h4>Could Blockchain Be Of Help Here?</h4>
                    <p class="text-muted">Denver, Colorado</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" href="/blog?blogNumber=3">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>by Krishna Kunapuli<i class="fas fa-lock-open"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="img/monitor-startup-blog.png" alt="monitor">
                </a>
                <div class="portfolio-caption">
                    <h4>Monitoring a start-up post investment</h4>
                    <p class="text-muted">Denver, Colorado</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" href="/blog?blogNumber=1">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>by Kamalesh Dwivedi<i class="fas fa-lock-open"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="img/blockchain-blog.png" alt="brief">
                </a>
                <div class="portfolio-caption" color="white">
                    <h4>BlockChain</h4>
                    <p class="text-muted">Denver, Colorado</p>
                </div>
            </div>
            
        </div>
    </section>
    {{end}}