{{define "content"}}
 <section id="contact">
      <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Investor Dashboard</h2>
            <h3 class="section-subheading text-muted"></h3>
          </div>
        </div>
      <h4></h4>
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-3">
            <a href="#">
              <img class="img-fluid d-block mx-auto" src="img/portfolio/gva.png" alt="">
            </a>
          </div>
          <div class="col-md-3 col-sm-3">
            <a href="#">
              <img class="img-fluid d-block mx-auto" src="img/portfolio/cm.png" alt="">
            </a>
          </div>
          <div class="col-md-3 col-sm-3">
            <a href="#">
              <img class="img-fluid d-block mx-auto" src="img/portfolio/ow.png" alt="">
            </a>
          </div>
          <div class="col-md-3 col-sm-3">
            <a href="#">
              <img class="img-fluid d-block mx-auto" src="img/portfolio/sl.png" alt="">
            </a>
          </div>
          <div class="col-md-3 col-sm-3">
            <a href="#">
              <img class="img-fluid d-block mx-auto" src="img/portfolio/of.png" alt="">
            </a>
          </div>
          <div class="col-md-3 col-sm-3">
            <a href="#">
              <img class="img-fluid d-block mx-auto" src="img/portfolio/pj.png" alt="">
            </a>
          </div>     
        </div>
      </div>
    </section>
{{end}}